<!DOCTYPE html>	
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="default">
		<title>UNBIZ KGPA 운영시스템</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<script th:src="@{/comm/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/comm/js/jquery.mCustomScrollbar.min.js}"></script>
		<script th:src="@{/comm/js/moment.min.js}"></script>
		<script th:src="@{/comm/js/sweetalert.min.js}"></script>
		<script th:src="@{/comm/js/vue.js}"></script>
		<script th:src="@{/comm/js/common.js}"></script>
		<script th:src="@{/comm/js/pagingDesign.js}"></script>
		<script th:src="@{/comm/js/cookie.min.js}"></script>
	</head>
</html>