<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/default}">
<th:block layout:fragment="css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/timepar/css/bootstrap.css">

    <link rel="stylesheet" href="/timepar/css/style.css">
    <style>
        th.par3{ background-color: #01022b; color: #fff;}
        th.par4{ background-color: #072607; color: #fff;}
        th.par5{ background-color: #821302; color: #fff;}
        .even{ background-color: yellow; }
        .topText {float: right; font-size: 0.8rem; margin-top: 10px; margin-right: 2px;}
        .timeOut {float: left; font-size: 0.8rem; margin-left: 5px; margin-right: 2px;}
        .timeIn {float: right; font-size: 0.8rem; margin-right: 5px; margin-right: 2px;}
        .no_dot { list-style-type: none; }

        td{ cursor: pointer;}
        th, tr{ }
        tbody th { border-bottom: 0px solid #ccc; }
        .minus { background: #f9c850; }
        .minus2{ background: #fc842b; }
        .plus { background: #79c6c6; }
        .plus2 { background: #4e9d9e; }
        .group_start {background: #899de0;}
        #tablewrap { border-top: 0px solid #e6e6e6; border-bottom: 0px solid #e6e6e6; }
        #holedetail .shotItem {border-radius: 10px;}
        #headerCont a.help {margin-right: 0px;}
        #tourinfo{}
        h1{font-size: 1rem;}
    </style>

</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        let app = '';
        let SECOND = 1000;
        let MINUTE = 60;
        $(document).ready(function () {
            app = new Vue({
                el: "#app",
                data: function () {
                    return {
                        search : {
                            gameId : '[[${gameId}]]',
                            roundNo : '[[${roundNo}]]',
                        },
                        timeSetInfo : {
                            outTime : '',
                            inTime : '',
                            totalTime : '',
                            sunrise : '',
                            sunset : '',
                        },
                        gameInfo : {},
                        course :{},
                        hole:{},
                        groupHole : {},
                        list : [],
                        timer : {
                            lastTime : '',
                            woker : '',
                            time : 0,
                            timer : 0,
                        },
                        lineArr : [],
                        zoomNo : '1',
                        modal : {
                            isOpen : false,
                            isOpenHelp : false,
                            list : [] ,
                            groupNo : '',
                            holeNo : '',
                        },
                        toTopStyle : '' ,
                        language : 'en',
                        lang : {
                            sunset : { en : 'sunset', ko : '일몰' },
                            sunrise : { en : 'sunrise', ko : '일출' },
                            totalTime : {en : 'total time', ko : '총시간' },
                            course : {en : 'course', ko : '코스' },
                            minus : {en : 'Fast (less than 10 minutes)', ko : '빠르다 (10분 미만)' },
                            minus2 : {en : 'Fast (10 minutes or more)', ko : '빠르다 (10분 이상)' },
                            plus : {en : 'Slow (less than 10 minutes)', ko : '느리다 (10분 미만)' },
                            plus2 : {en : 'Slow (more than 10 minutes)', ko : '느리다 (10분 이상)' },
                            shot_F : {en : 'fairway', ko : '페어웨이' },
                            shot_R : {en : 'Rough', ko : '러프' },
                            shot_G : {en : 'Green', ko : '그린' },
                            shot_IN : {en : 'Hole in', ko : '홀인' },
                            shot_OB : {en : 'Out of Bounds', ko : 'OB' },
                            shot_B : {en : 'Bunker', ko : '벙커' },
                            shot_GB : {en : 'green side bunker', ko : '그린 주변 벙커' },
                            shot_LB : {en : 'Lost Ball', ko : '분실구' },
                            shot_PA : {en : 'Penalty Area', ko : '페널티구역' },
                            shot_PS : {en : 'Stroke penalty', ko : '벌타' },
                            shot_PS2 : {en : 'Hole give up', ko : '홀포기' },
                            time : {en : 'YYYY-MM-DD HH:mm:ss', ko : 'YYYY년 MM월 DD일  HH시mm분ss초'}
                        }
                    }
                },
                created: function () {
                    const self = this;
                    //let language = Cookies.get('language');
                    //self.language = language == 'en' ? 'en' : 'ko';
                    let resp = doAjax('/timepar/game.tf', {});
                    self.search.gameId = resp.data.gameId;
                    self.search.roundNo = resp.data.roundNo;
                    self.timeSetInfo = resp.data;
                    resp = doAjax('/api/game.tf', { apcYear : new Date().getFullYear(), tourId : '11', gameId : self.search.gameId});
                    self.gameInfo = resp.data[0];
                    resp = doAjax('/api/course.tf', { gameId : self.search.gameId});
                    self.course = resp.data[0];
                    resp = doAjax('/timepar/hole.tf', self.search);
                    self.hole = resp.data;
                    resp = doAjax('/timepar/stand.tf', self.search);
                    let groupHole = {};
                    resp.data.forEach(function (info) {
                        groupHole['group' + info.group_no] = info;
                    });
                    self.groupHole = groupHole;
                    self.getList();
                    self.timer.woker = setInterval(function(){self.getList();}, 10 * SECOND);
                    self.timer.timer = setInterval(function(){self.timer.time++;}, SECOND);
                },
                methods: {
                    getList : function() {
                        let self = this;
                        let resp = doAjax('/timepar/stamp.tf', self.search);
                        let inout = 'OUT'
                        let ampm = 'AM';
                        let lineArr = [0];
                        self.timer.time = 0;
                        self.list = resp.data.stamp.map(function (info,idx) {
                            for (let i = Number(info.start_hole_no); i < Number(info.start_hole_no) + 18; i++) {
                                let holeNo = i > 18 ? i - 18 : i;
                                let holeStandTime = moment(self.groupHole['group'+info.group_no]['hole' + holeNo]);
                                let holeRealTimeStr = info['hole'+ holeNo +'_end'];
                                let holeRealTime = moment(holeRealTimeStr);
                                info['holeStandTime' + holeNo] = holeStandTime.format('HH:mm');
                                let holeTime = Math.floor(((holeRealTime - holeStandTime)/SECOND/MINUTE));
                                info['holeTime' + holeNo] = holeTime;
                                let className = '';
                                if( !holeRealTimeStr ) {
                                } else if(holeTime == 0 ){
                                    className = 'even';
                                } else if(holeTime < 0){
                                    className = holeTime*-1 > 9 ? 'minus2' : 'minus';
                                } else if(holeTime > 0){
                                    className = holeTime > 9 ? 'plus2' : 'plus';
                                }
                                info['className' + holeNo] = className;
                            }
                            if(info.start_am_pm != ampm || info.start_in_out != inout){
                                inout = info.start_in_out;
                                ampm = info.start_am_pm
                                lineArr.push(idx);
                            }
                            return info;
                        })
                        self.lineArr = lineArr;
                        self.timer.lastTime = moment().format(self.getLenTxt(self.lang.time, 'ko', 'en'))
                    },
                    getHoleTime : function (info, holeNo) {
                        let times = info['holeTime' +holeNo ];
                        return info['hole'+ holeNo +'_end'] ? times : info['holeStandTime' +holeNo ];
                    },
                    fnZoom : function (zoomNo) {
                        let self = this;
                        self.zoomNo = zoomNo;
                    },
                    showGroupShot : function (groupNo, holeNo, isDone) {
                        //if(!isDone) return;
                        let self = this;
                        self.toTopStyle = 'display: block; top:'  +(window.scrollY + 50) + 'px;';
                        let resp = doAjax('/timepar/shot.tf', $.extend({groupNo : groupNo, holeNo : holeNo},self.search));
                        self.modal = {
                            isOpen : true,
                            list : resp.data ,
                            groupNo : groupNo,
                            holeNo :holeNo,
                        }
                    },
                    getShotTxt : function (field) {
                        return ['','F','R','G','OB','PA','B','LB','PS','GB','IN','GU'][Number(field)];
                    },
                    isShowHole : function () {
                        let self = this;
                        self.modal.isOpenHelp = !self.modal.isOpenHelp;
                    },
                    changeLanguage : function () {
                        let self  = this;
                        let changLenTxt = self.language == 'en' ? 'ko' : 'en';
                        self.language = changLenTxt;
                        Cookies.set('language', changLenTxt, { expires: 4 })
                    },
                    getLenTxt : function (info, ko, en) {
                        let self  = this;
                        if(!info) return "";
                        let txt = "";
                        if(self.language == 'en'){
                            txt = info[en];
                        } else {
                            txt = info[ko];
                        }
                        return txt;
                    }
                }
            });
        });
    </script>
</th:block>
</head>

<body layout:fragment="content" >
<div id="app">
    <div id="headerCont">
        <a @click="getList()" style=" float: left;" class="btn btn-default help">Re{{ timer.time }}</a>
        <a @click="isShowHole()" class="btn btn-default help">？</a>
        <span class="help topText"  style="margin-right: 5px !important;">{{ getLenTxt(lang.sunset, 'ko', 'en') }} : {{ timeSetInfo.sunset }}</span>
        <span class="help topText"  style="margin-right: 10px !important;">|</span>
        <span class="help topText"  style="margin-right: 10px !important;">{{ getLenTxt(lang.sunrise, 'ko', 'en') }} : {{ timeSetInfo.sunrise }} </span>
    </div>
    <div id="container2">
        <h1>{{ getLenTxt(gameInfo, 'gameName', 'gameEnName') }} {{ search.roundNo }}R</h1>
        <h1>Time Par</h1>
        <div> <span class="timeIn" >{{ getLenTxt(lang.totalTime, 'ko', 'en') }}:{{ timeSetInfo.totalTime }}</span> </div><br/>
        <div>
            <span class="timeOut">Out {{ getLenTxt(lang.course, 'ko', 'en') }} {{ timeSetInfo.outTime }}</span>
            <span class="timeIn">In {{ getLenTxt(lang.course, 'ko', 'en') }} {{ timeSetInfo.inTime }}</span>
        </div>
        <div id="tablewrap">
            <table id="tablestroke" :style="'transform: scale(' + zoomNo + '); transform-origin: 0px 0px;'">
                <tbody>
                <template v-for="(info, idx) in list">
                    <tr v-if="lineArr.indexOf(idx)>-1">
                        <th>Group</th>
                        <th v-for="holeNo in 9" :class="'par' + course['holePar'+holeNo]"> {{ holeNo }} </th>
                        <th>Group</th>
                        <th v-for="holeNo in 9" :class="'par' + course['holePar'+(holeNo+9)]"> {{ holeNo +9 }} </th>
                        <th>Group</th>
                    </tr>
                    <tr >
                        <th :class="info.start_in_out == 'OUT' ? 'group_start' : '' "><a href="##"> {{ info.group_no }} </a></th>
                        <td v-for="holeNo in 9"  :class="info['className' + holeNo ]" @click="showGroupShot(info.group_no, holeNo, info['hole'+ holeNo +'_end'])"> {{ getHoleTime(info, holeNo)}} </td>
                        <th :class="info.start_in_out == 'IN' ? 'group_start' : '' "><a href="##"> {{ info.group_no }} </a></th>
                        <td v-for="holeNo in 9"  :class="info['className' + (holeNo+9) ]" @click="showGroupShot(info.group_no, holeNo+9, info['hole'+ (holeNo+9) +'_end'])"> {{ getHoleTime(info, (holeNo+9)) }} </td>
                        <th><a href="##"> {{ info.group_no }} </a></th>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>

        <div v-if="modal.isOpen" id="holedetail" :style="toTopStyle" >
            <div>
                <h2>Group {{ modal.groupNo }} / Hole {{ modal.holeNo }} ( Par {{ course['holePar' + modal.holeNo] }})</h2>
                <template v-for="info in modal.list">
                    <h3>{{ getLenTxt(info, 'playerName', 'playerEnName') }}</h3>
                    <dl>
                        <dt>{{ info.score == 0 ? '-' : info.score }}</dt>
                        <dd> <span v-for=" sinfo in info.shotList" :class="'shotItem shot_' + getShotTxt(sinfo.field)">{{ getShotTxt(sinfo.field) }}</span> </dd>
                    </dl>
                </template>
            </div>
            <a @click="modal.isOpen = false;" id="holedatailclose" class="btn btn-primary btn-block" style="clear: both;">Close</a>
        </div>

        <div v-if="modal.isOpenHelp" id="help" style="display: block;">
            <h4>Pace of play time</h4>
            <p><span class="minus">Number</span>　{{getLenTxt(lang.minus, 'ko', 'en')}}</p>
            <p><span class="minus2">Number</span>　{{getLenTxt(lang.minus2, 'ko', 'en')}}</p>
            <p><span class="plus">Number</span>　{{getLenTxt(lang.plus, 'ko', 'en')}}</p>
            <p><span class="plus2">Number</span>　{{getLenTxt(lang.plus2, 'ko', 'en')}}</p>
            <h4>Shot detail</h4>
            <p><span class="shot_F">F</span>　{{getLenTxt(lang.shot_F, 'ko', 'en')}}</p>
            <p><span class="shot_R">R</span>　{{getLenTxt(lang.shot_R, 'ko', 'en')}}</p>
            <p><span class="shot_G">G</span>　{{getLenTxt(lang.shot_G, 'ko', 'en')}}</p>
            <p><span class="shot_IN">IN</span>　{{getLenTxt(lang.shot_IN, 'ko', 'en')}}</p>
            <p><span class="shot_B">B</span>　{{getLenTxt(lang.shot_B, 'ko', 'en')}}</p>
            <p><span class="shot_GB">GB</span>　{{getLenTxt(lang.shot_GB, 'ko', 'en')}}</p>
            <p><span class="shot_OB">OB</span>　{{getLenTxt(lang.shot_OB, 'ko', 'en')}}</p>
            <p><span class="shot_LB">LB</span>　{{getLenTxt(lang.shot_LB, 'ko', 'en')}}</p>
            <p><span class="shot_PA">PA</span>　{{getLenTxt(lang.shot_PA, 'ko', 'en')}}</p>
            <p><span class="shot_PS">PS</span>　{{getLenTxt(lang.shot_PS, 'ko', 'en')}}</p>
            <p><span class="shot_PS">GU</span>　{{getLenTxt(lang.shot_PS2, 'ko', 'en')}}</p>
            <a @click="modal.isOpenHelp = false;" id="helpclose" class="btn btn-primary btn-block" href="javascript:void(0);" role="button" style="clear: both;">Close</a>
        </div>
    </div>
</div>
</body>
</html>