<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/default}">
<th:block layout:fragment="css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/timepar/css/bootstrap.css">

    <link rel="stylesheet" href="/timepar/css/style.css">
    <style>
        th.par3{ background-color: #01022b; color: #fff;}
        th.par4{ background-color: #072607; color: #fff;}
        th.par5{ background-color: #821302; color: #fff;}
        .even{ background-color: yellow; }
        .topText {float: right; font-size: 0.8rem; margin-top: 10px; margin-right: 2px;}
        .timeOut {float: left; font-size: 0.8rem; margin-left: 5px; margin-right: 2px;}
        .timeIn {float: right; font-size: 0.8rem; margin-right: 5px; margin-right: 2px;}
    </style>

</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        let app = '';
        let SECOND = 1000;
        let MINUTE = 60;
        $(document).ready(function () {
            app = new Vue({
                el: "#app",
                data: function () {
                    return {
                        search : {
                            gameId : '[[${gameId}]]',
                            roundNo : '[[${roundNo}]]',
                        },
                        timeSetInfo : {
                            outTime : '',
                            inTime : '',
                            totalTime : '',
                            sunrise : '',
                            sunset : '',
                        },
                        gameInfo : {},
                        course :{},
                        hole:{},
                        groupHole : {},
                        list : [],
                        timer : {
                            lastTime : '',
                            woker : '',
                            time : 0,
                            timer : 0,
                        },
                        lineArr : [],
                        zoomNo : '1',
                        modal : {
                            isOpen : false,
                            isOpenHelp : false,
                            list : [] ,
                            groupNo : '',
                            holeNo : '',
                        },
                        toTopStyle : '' ,
                    }
                },
                created: function () {
                    const self = this;
                    let resp = doAjax('/timepar/game.tf', {});
                    self.search.gameId = resp.data.gameId;
                    self.search.roundNo = resp.data.roundNo;
                    self.timeSetInfo = resp.data;
                    resp = doAjax('/api/game.tf', { apcYear : new Date().getFullYear(), tourId : '11', gameId : self.search.gameId});
                    self.gameInfo = resp.data[0];
                    resp = doAjax('/api/course.tf', { gameId : self.search.gameId});
                    self.course = resp.data[0];
                    resp = doAjax('/timepar/hole.tf', self.search);
                    self.hole = resp.data;
                    resp = doAjax('/timepar/stand.tf', self.search);
                    let groupHole = {};
                    resp.data.forEach(function (info) {
                        groupHole['group' + info.group_no] = info;
                    });
                    self.groupHole = groupHole;
                    self.getList();
                    self.timer.woker = setInterval(function(){self.getList();}, 10 * SECOND);
                    self.timer.timer = setInterval(function(){self.timer.time++;}, SECOND);
                },
                methods: {
                    getList : function() {
                        let self = this;
                        let resp = doAjax('/timepar/stamp.tf', self.search);
                        let inout = 'OUT'
                        let ampm = 'AM';
                        let lineArr = [0];
                        self.timer.time = 0;
                        self.list = resp.data.map(function (info,idx) {
                            for (let i = Number(info.start_hole_no); i < Number(info.start_hole_no) + 18; i++) {
                                let holeNo = i > 18 ? i - 18 : i;

                                let holeStandTime = moment(self.groupHole['group'+info.group_no]['hole' + holeNo]);
                                let holeRealTimeStr = info['hole'+ holeNo +'_end'];
                                let holeRealTime = moment(holeRealTimeStr);
                                info['holeStandTime' + holeNo] = holeStandTime.format('HH:mm');
                                let holeTime = Math.floor(((holeRealTime - holeStandTime)/SECOND/MINUTE));
                                info['holeTime' + holeNo] = holeTime;
                                let className = '';
                                if( !holeRealTimeStr ) {
                                } else if(holeTime == 0 ){
                                    className = 'even';
                                } else if(holeTime < 0){
                                    className = holeTime*-1 > 9 ? 'minus2' : 'minus';
                                } else if(holeTime > 0){
                                    className = holeTime > 9 ? 'plus2' : 'plus';
                                }

                                info['className' + holeNo] = className;
                            }
                            if(info.start_am_pm != ampm || info.start_in_out != inout){
                                inout = info.start_in_out;
                                ampm = info.start_am_pm
                                lineArr.push(idx);
                            }
                            return info;
                        })
                        self.lineArr = lineArr;
                        self.timer.lastTime = moment().format('YYYY년 MM월 DD일  HH시mm분ss초')
                    },
                    getHoleTime : function (info, holeNo) {
                        let times = info['holeTime' +holeNo ];
                        return info['hole'+ holeNo +'_end'] ? times : info['holeStandTime' +holeNo ];
                    },
                    fnZoom : function (zoomNo) {
                        let self = this;
                        self.zoomNo = zoomNo;
                    },
                    showGroupShot : function (groupNo, holeNo, isDone) {
                        //if(!isDone) return;
                        let self = this;
                        self.toTopStyle = 'display: block; top:'  +(window.scrollY + 50) + 'px;';
                        let resp = doAjax('/timepar/shot.tf', $.extend({groupNo : groupNo, holeNo : holeNo},self.search));
                        self.modal = {
                            isOpen : true,
                            list : resp.data ,
                            groupNo : groupNo,
                            holeNo :holeNo,
                        }
                    },
                    getShotTxt : function (field) {
                        return ['','F','R','G','OB','PA','B','LB','PS','GB','IN'][Number(field)];
                    },
                    isShowHole : function () {
                        let self = this;
                        self.modal.isOpenHelp = !self.modal.isOpenHelp;
                    }
                }
            });
        });
    </script>
</th:block>
</head>

<body layout:fragment="content" >
    <div id="app">
        <div id="headerCont">
            <a @click="isShowHole()" class="btn btn-default help">？</a>
            <span class="help topText"  style="margin-right: 5px !important;">총시간:{{ timeSetInfo.totalTime }}</span>
            <span class="help topText"  style="margin-right: 5px !important;">일몰:{{ timeSetInfo.sunset }}</span>
            <span class="help topText"  style="margin-right: 5px !important;">일출:{{ timeSetInfo.sunrise }}</span>
        </div>
        <div id="container2">
            <h1>{{ gameInfo.gameName }} {{ search.roundNo }}R</h1>
            <div id="tourinfo">Pace of Play Time</div>
            <div class="btn-group" role="group">
                <a class="btn btn-primary" role="button" @click="getList()">
                     Refresh <span >{{ timer.time }}</span>
                </a>
            </div>
            <div><span id="time">{{ timer.lastTime }}</span></div>

            <div>
                <span class="timeOut">Out 코스 {{ timeSetInfo.outTime }}</span>
                <span class="timeIn">In 코스 {{ timeSetInfo.inTime }}</span>
            </div>

            <div id="tablewrap">
                <table id="tablestroke" :style="'transform: scale(' + zoomNo + '); transform-origin: 0px 0px;'">
                    <tbody>
                        <template v-for="(info, idx) in list">
                            <tr v-if="lineArr.indexOf(idx)>-1">
                                <th>No</th>
                                <th v-for="holeNo in 9" :class="'par' + course['holePar'+holeNo]"> {{ holeNo }} </th>
                                <th>No</th>
                                <th v-for="holeNo in 9" :class="'par' + course['holePar'+(holeNo+9)]"> {{ holeNo +9 }} </th>
                                <th>No</th>
                            </tr>
                            <tr >
                                <th><a href="##"> {{ info.group_no }} </a></th>
                                <td v-for="holeNo in 9"  :class="info['className' + holeNo ]" @click="showGroupShot(info.group_no, holeNo, info['hole'+ holeNo +'_end'])"> {{ getHoleTime(info, holeNo)}} </td>
                                <th><a href="##"> {{ info.group_no }} </a></th>
                                <td v-for="holeNo in 9"  :class="info['className' + (holeNo+9) ]" @click="showGroupShot(info.group_no, holeNo+9, info['hole'+ (holeNo+9) +'_end'])"> {{ getHoleTime(info, (holeNo+9)) }} </td>
                                <th><a href="##"> {{ info.group_no }} </a></th>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>

            <div v-if="modal.isOpen" id="holedetail" :style="toTopStyle" >
                <div>
                    <h2>Group {{ modal.groupNo }} / Hole {{ modal.holeNo }} ( Par {{ course['holePar' + modal.holeNo] }})</h2>
                    <template v-for="info in modal.list">
                        <h3>{{ info.playerName }}</h3>
                        <dl>
                            <dt>{{ info.score == 0 ? '-' : info.score }}</dt>
                            <dd> <span v-for=" sinfo in info.shotList" :class="'shotItem shot_' + getShotTxt(sinfo.field)">{{ getShotTxt(sinfo.field) }}</span> </dd>
                        </dl>
                    </template>
                </div>
                <a @click="modal.isOpen = false;" id="holedatailclose" class="btn btn-primary btn-block" style="clear: both;">Close</a>
            </div>

            <div v-if="modal.isOpenHelp" id="help" style="display: block;">
                <h4>Pace of play time</h4>
                <p><span class="minus">Number</span>　빠르다 (10분 미만)</p>
                <p><span class="minus2">Number</span>　빠르다 (10분 이상)</p>
                <p><span class="plus">Number</span>　느리다 (10분 미만)</p>
                <p><span class="plus2">Number</span>　느리다 (10분 이상)</p>
                <h4>Shot detail</h4>
                <p><span class="shot_F">F</span>　페어웨이</p>
                <p><span class="shot_R">R</span>　러프</p>
                <p><span class="shot_G">G</span>　그린</p>
                <p><span class="shot_IN">IN</span>　홀인</p>
                <p><span class="shot_B">B</span>　벙커</p>
                <p><span class="shot_GB">GB</span>　그린 주변 벙커</p>
                <p><span class="shot_OB">OB</span>　OB</p>
                <p><span class="shot_LB">LB</span>　분실구</p>
                <p><span class="shot_PA">PA</span>　페널티구역</p>
                <p><span class="shot_PS">PS</span>　벌타</p>
                <a @click="modal.isOpenHelp = false;" id="helpclose" class="btn btn-primary btn-block" href="javascript:void(0);" role="button" style="clear: both;">Close</a>
            </div>


            <div id="zoomCont" class="btn-group btn-group-justified" role="group">
                <a href="#" :class="'zoom50 btn btn-default ' + (zoomNo == '0.5' ? 'active' : '')" @click="fnZoom(0.5)"  role="button">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Full
                </a>
                <a href="#" :class="'zoom50 btn btn-default ' + (zoomNo == '1' ? 'active' : '')" @click="fnZoom(1)" role="button">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>2x
                </a>
                <a href="#" :class="'zoom50 btn btn-default ' + (zoomNo == '1.5' ? 'active' : '')" @click="fnZoom(1.5)" role="button">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>3x
                </a>
                <a href="#" :class="'zoom50 btn btn-default ' + (zoomNo == '2.0' ? 'active' : '')"  @click="fnZoom(2.0)" role="button">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>4x
                </a>
            </div>
        </div>
    </div>
</body>
</html>