@charset "UTF-8";


*{box-sizing:border-box;}
html,body{font-family: 'Noto Sans KR';}
input::placeholder{font-size:13px;}
select{font-size:13px!important;}
.clearfix:after{display:block;content:'';clear:both;}
.mgB10{margin-bottom:10px;}
.mgT10{margin-top:10px;}
table{table-layout:fixed; border-spacing: 0;}

.cursorPointer{cursor:pointer !important; margin:0 !important;}
.alignL{text-align:left !important;}
.alignC{text-align:center !important}
.alignR{text-align:right !important}

/* .eventColor01{color:#e24273} */
.nav-treeview{background:#242424!important;border-radius:5px;margin-top: 0;}
/* .main-sidebar{background:#273140} */
.portalLink{font-weight:bold;background:#fff;padding:8px 20px;height:auto !important;color:#696969;border:1px solid #696969;line-height:3;font-size:14px;margin-left:20px;border-radius:10px 0;}
.portalLink i{margin-left:10px;}

.main-header{}
.content-wrapper{/* padding-top:60px; */min-width: 1400px;}

/* 버튼컬러 */
.red-bg{background:#FFEFEF !important; color:#333 !important;}
.orange-bg{background:#F9CDCB !important; color:#333 !important;}
.yellow-bg{background:#FFFEC3 !important; color:#333 !important;}
.green-bg{background:#BEE4D7 !important; color:#333 !important;}
.blue-bg{background:#CCE2ED !important; color:#333 !important;}
.navy-bg{background:#D8DCEA !important; color:#333 !important;}
.purple-bg{background:#E2D9E6 !important; color:#333 !important;}
.wht-bg{background:#eee !important; color:#333 !important;}



.mainTitArea{padding:0px;box-sizing:border-box;}
.mainTitArea .mainTit{font-size:16px;font-weight:500;margin-bottom: 15px;}
.mainTitArea .subTit{ font-size: 16px;  font-weight: 100;}
/* .mainTitArea .mainTit span{font-size:14px;color:#696969;margin-left:5px;} */
.inner-select-mini {width:150px;padding: 2px 0 2px 5px;display: inline-block;height: 32px;margin: 5px 0;}
.inner-select-middle {width:200px;padding: 2px 0 2px 5px;display: inline-block;height: 32px;margin: 5px 0;}
.inner-select-large {width:250px;padding: 2px 0 2px 5px;display: inline-block;height: 32px;margin: 5px 0;}
.inner-select-largest {width:300px;padding: 2px 0 2px 5px;display: inline-block;height: 32px;margin: 5px 0;}
.main-footer strong {font-weight: 400; font-size: 13px; color: #000;}
.table .recruit-contents {padding: 20px 0;}
.table .long-contents {padding: 10px;margin:10px 0;outline: 0;}
.table .popup-img {padding: 10px 0;}
.table .popup-img img {margin:10px 0;}

.card{padding:5px;box-sizing:border-box; margin-bottom:0 !important; box-shadow:none !important; border:0; padding:0 !important;}
.card .tableWrap {/* margin-top:20px; */}
.card .searchArea{border:1px solid #e5e5e5;border-radius:10px;margin: 0px 0 30px;background: #f6f6f6;}
.card .searchArea p.tit{margin-bottom:0;background:#3886e6;display:inline-block;color:#ffffff;/* margin-left:30px; */padding:10px 30px;font-size:15px;border-radius: 7px 0 0 0;}
.card .searchArea .searchForm{padding:25px 60px;width:100%;}
.card .searchArea .searchForm table.tblSearch{width:100%;font-size:13px;}
.card .searchArea .searchForm table.tblSearch tbody th{text-align:center;padding:15px 0;}
.card .searchArea .searchForm table.tblSearch tbody td .mini-input {width: 80px;display: inline-block;}
.card .searchArea .searchForm table.tblSearch tbody td .middle-input {width: 150px;}
.card .searchArea .searchForm table.tblSearch tbody td .large-input {width: 250px;}
.card .searchArea .searchForm table.tblSearch tbody td .mini-select {width: 80px;display: inline-block;}
.card .searchArea .searchForm table.tblSearch tbody td .middle-select {width: 150px;}
.card .searchArea .searchForm table.tblSearch tbody td .large-select {width: 250px;}
.card .searchArea .btnWrap {margin-top:20px;text-align:right;}
.card .searchArea .btnWrap .btnSearch{background:#273140;color:#fff;padding:5px 40px;}
.card .searchArea .btnWrap .btnSearch:hover{background:#344257}
.card .searchArea .btnWrap .btnSearch:active{background:#455875}

.card .tableWrap .showStyle{float:left;padding:.375rem .75rem}
.card .tableWrap .showStyle i{font-size:28px;color:#696969;cursor:pointer;}
.card .tableWrap .showStyle i:hover{color:#555}

.card .tableWrap .showNum{margin-bottom:10px;text-align:left;float:left;}
.card .tableWrap .showNum select{display:inline-block;width:120px;font-size:13px;}
.card .tableWrap .btnWrap{float:right;}

.card .tableWrap .btnWrap .btn{background:#007bff;font-size:15px;border:none;padding:8px 20px;}
.card .tableWrap .btnWrap .btn:hover{background:#006ee4}
.card .tableWrap .btnWrap .btn:active{background:#0366d0}
.card .tableWrap .btnWrap .btn i{margin-right:5px;}

.card .tableWrap .btnWrap .btn.btn2{background:#696969;font-size:15px;border:none;padding:8px 20px;}
.card .tableWrap .btnWrap .btn.btn2:hover{background:#555555}
.card .tableWrap .btnWrap .btn.btn2:active{background:#333333}

/* .card .tableWrap .board_table tbody tr{cursor: pointer;} */

.inlineBox{display:inline-block;}
.form-control{height:auto !important}

.hide {display: none!important;}

.eventWrap{text-align:center;margin:0 auto;width:100%;padding:20px 0 40px;}
.eventWrap ul{text-align:center;font-size:0;margin:0 auto;display:block;}
.eventWrap ul li{list-style:none;background:#ccc;text-align:center;display:inline-block;vertical-align: middle;margin:0 10px;width:10%;border-radius:5px;background:#8d8d8d}
.eventWrap ul li span{font-size:14px;display:block;height:50px;color:#fff;line-height:1.4;padding:5px 0;font-size:14px;border-radius:5px;transition:all ease .2s;}
.eventWrap ul li span.single{padding:15px 0;}
.eventWrap ul li span:hover{background:#3886e6}
.eventWrap ul li span:active{background:#3178d0}
.eventWrap ul li span.active{background:#3886e6}

.pagination{text-align:right;display:block;margin-bottom:20px;}
.pagination a{font-size:13px;display:inline-block;border:1px solid #888;transition:all ease .2s;border-radius:100%;width:30px;height:30px;line-height:27px;text-align:center;vertical-align:middle;margin:0 3px;color:#888;}
.pagination a:hover{background:#3886e6;color:#fff;border:none;}
.pagination a.active{background:#3886e6;color:#fff;border:none;}

.btnWrap{text-align:right;}
.btnWrap .btn{background:#696969;color:#ffffff;padding: 5px 20px;}
.btnWrap .btn:hover{background:#555555}
.btnWrap .btn:active{background:#333333}
.btnWrap .btnList{background:#fff;color:#696969;border:1px solid #696969;padding: 5px 20px;}
.btnWrap .btnList:hover{background:#eee}
.btnWrap .btnList:active{background:#ccc}
.btnWrap .btnConfirm{background:#3a84d1;color:#ffffff;padding: 5px 20px;}
.btnWrap .btnConfirm:hover{background:#3679bf}
.btnWrap .btnConfirm:active{background:#2d66a2}
.btnWrap .btnChange{background: #e87b1d;color:#ffffff;padding: 5px 20px;}
.btnWrap .btnChange:hover{background:#D8731D}
.btnWrap .btnChange:active{background:#C66B1C}
.btnWrap .btnDelete{background: #888;color:#ffffff;padding: 5px 20px;}
.btnWrap .btnDelete:hover{background:#777}
.btnWrap .btnDelete:active{background:#666}

.userLog .selectLang a.on { color: #ff0000;}
.userLog .selectLang a { display: inline-block;  padding: 5px 10px !important;  font-size: 13px !important;}

.userLog .user a { display: inline-block;  padding: 5px 10px !important;  font-size: 13px !important;  display: inline-block;  padding: 5px 10px !important;  font-size: 13px !important;  color: #000;}
.userLog .user i { font-size: 16px;}
.userLog .user .badge {  margin-left: 5px;}
.badge { display: inline-block;  min-width: 10px;  padding: 3px 5px;  font-size: 12px;  font-weight: 700;  line-height: 1;  color: #fff;  text-align: center;  white-space: nowrap;  vertical-align: baseline;  background-color: red;  border-radius: 10px;}
.main-header .navbar-nav .nav-item {  margin: 0;}
.userLog .userOut a { margin-right:10px;color: #e49d00!important;font-weight:bold;  display: inline-block;  padding: 5px 10px !important;  font-size: 13px !important;border:1px solid #e49d00;margin-left:10px;}
.login-box-img {display:block;margin: 0 auto;margin-bottom: 30%;text-align: right;}

.fileWrap{background:#f4f6f9;border:1px solid #ccc;box-sizing:border-box;padding:10px;margin-top:5px;}
.fileWrap input[type="checkbox"]{margin-right:5px;cursor:pointer;vertical-align:middle;}
.fileWrap input[type="checkbox"]+label{vertical-align:middle;cursor:pointer;margin-bottom:0;}

.videoListWrap{}
.videoListWrap .box{width:calc(20% - 10px);border:1px solid #ccc;float:left;margin-right:12.5px;margin-bottom:25px;}
.videoListWrap .box:nth-child(5n){margin-right:0;}
.videoListWrap .box .imgWrap{width:100%;height:150px;position:relative;}
/* .videoListWrap .box .imgWrap .cover{opacity:0;transition:all ease .2s;width:100%;height:100%;position:absolute;top:0;left:0;right:0;background:rgba(0,0,0,.6) url('/resources/user/img/icon_plus.png')no-repeat center;} */
.videoListWrap .box .imgWrap img{width:100%;height:100%;}
.videoListWrap .box .imgTit{padding:15px;transition:all ease .2s;}
.videoListWrap .box .imgTit .tit{font-size:16px;font-weight:500;line-height:1.4;height:45px;display: -webkit-box;overflow:hidden;text-overflow:ellipsis;white-space: normal;word-wrap:nowrap;-webkit-line-clamp:2;-webkit-box-orient: vertical;margin-bottom:10px;}
.videoListWrap .box .imgTit .date{margin-bottom:0;}
.videoListWrap .box .imgTit .category{font-size:14px;margin-top:20px;border:1px solid #0081c9;color:#0081c9;padding:5px 20px;display:inline-block;font-weight:300;margin:10px 0px;}
.videoListWrap .box .imgTit .useYes{margin-bottom:0;color:#2196F3;font-weight:bold;font-size:13px;}
.videoListWrap .box .imgTit .useNo{margin-bottom:0;color:red;font-weight:bold;font-size:13px;}
/* .videoListWrap .box:hover .imgWrap .cover{opacity:1;}
.videoListWrap .box:hover .imgTit{background:#eeeeee;} */
.container .subMainWrap .inner .subMain .cont .videoSub .videoWrap .videoTit{line-height:1.4;background:#eee;font-size:16px;font-weight:bold;text-align:center;border-top:2px solid #000;border-bottom:1px solid #ccc;padding:15px 0;}
.container .subMainWrap .inner .subMain .cont .videoSub .videoWrap .videoTit span{display:block;text-align:right;font-size:14px;font-weight:normal;padding-top:10px;padding-right:10px;}
.container .subMainWrap .inner .subMain .cont .videoSub .videoWrap .videoView{width:100%;padding:20px 0;border-bottom:1px solid #ccc;}
.container .subMainWrap .inner .subMain .cont .videoSub .videoWrap .videoView iframe{width:100%;height:550px;}

.videoListWrap .box .setWrap{padding:10px;border-bottom:1px solid #000;vertical-align:middle;}
.videoListWrap .box .setWrap .switch {position: relative;display: inline-block;width:60px;height: 24px;float:right;margin-bottom:0;}
.videoListWrap .box .setWrap .switch input {opacity: 0;width: 0;height: 0;}
.videoListWrap .box .setWrap .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.videoListWrap .box .setWrap .slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.videoListWrap .box .setWrap input:checked + .slider {background-color: #2196F3;}
.videoListWrap .box .setWrap input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.videoListWrap .box .setWrap input:checked + .slider:before {-webkit-transform: translateX(36px);-ms-transform: translateX(36px);transform: translateX(36px);}
.videoListWrap .box .boxLink{cursor:pointer;}
.videoListWrap .box .boxNum{font-weight:bold;}

/* Rounded sliders */
.videoListWrap .box .setWrap .slider.round {border-radius: 34px;}
.videoListWrap .box .setWrap .slider.round:before {border-radius: 50%;}

.note-editor{width:100% !important;max-width:100% !important;}

table tbody td pre{font-size:100%; white-space: break-spaces; word-break: break-all;}
table tbody td pre p{margin:0!important;font-family: 'Noto Sans KR' !important;}
table tbody td pre b{font-weight:bold !important;}

.menuSetWrap{width:100%;position:relative;}
.menuSetWrap .menuBox .menuAll{height:500px;overflow-y:auto;border:1px solid #ccc;border-top:2px solid #000;}
.menuSetWrap .menuBox .menuAll ul{padding:0;}
.menuSetWrap .menuBox .menuAll ul li{list-style:none;}
.menuSetWrap .menuBox .menuAll ul>li>a{color:#000;border-bottom:1px solid #ccc;display:block;padding:10px 20px;font-size:16px;position:relative;}
.menuSetWrap .menuBox .menuAll ul>li>a:hover{background:#f4f6f9;}
.menuSetWrap .menuBox .menuAll ul>li>a.on{background:#f4f6f9;font-weight:bold;color:#007bff}
.menuSetWrap .menuBox .menuAll ul>li>a.menuUseY:after{content:'';width:10px;height:10px;background:green;position:absolute;right:20px;top:40%;border-radius:100%;}
.menuSetWrap .menuBox .menuAll ul>li>a.menuUseN:after{content:'';width:10px;height:10px;background:red;position:absolute;right:20px;top:40%;border-radius:100%;}
.menuSetWrap .menuBox .menuAll ul .depth2 > li{}
.menuSetWrap .menuBox .menuAll ul .depth2 > li > a{padding-left:50px;font-size:14px;color:#696969;background:url('/resources/adm/img/icon_down.png')no-repeat 30px center;background-size:10px 10px;}
.menuSetWrap .menuBox .menuAll ul .depth2 > li > a:hover{background:url('/resources/adm/img/icon_down.png')no-repeat 30px center #f4f6f9;background-size:10px 10px;}
.menuSetWrap .menuBox .menuAll ul .depth2 > li > a.on{color:#007bff;background:url('/resources/adm/img/icon_down.png')no-repeat 30px center #f4f6f9;background-size:10px 10px;}
.menuSetWrap .menuBox .menuAll ul .depth3 > li > a{padding-left:60px;font-size:14px;color:#696969}

table pre p{white-space:normal;}

.flag {background-image: url('/resources/adm/img/flags.png'); background-repeat: no-repeat; display: inline-block;}
	.flag.flag-15x15{width: 15px; height: 15px;}
	.flag.flag-24x24{width: 24px; height: 22px;}
	.flag.flag-15x15.ABW {background-position: 0 -15px;}
	.flag.flag-15x15.AFG {background-position: 0 -3570px;}
	.flag.flag-15x15.AGO {background-position: 0 -30px;}
	.flag.flag-15x15.AHO {background-position: 0 -45px;}
	.flag.flag-15x15.ALB {background-position: 0 -60px;}
	.flag.flag-15x15.ALG {background-position: 0 -75px;}
	.flag.flag-15x15.AND {background-position: 0 -90px;}
	.flag.flag-15x15.ANG {background-position: 0 -105px;}
	.flag.flag-15x15.ANT {background-position: 0 -120px;}
	.flag.flag-15x15.ARE {background-position: 0 -135px;}
	.flag.flag-15x15.ARG {background-position: 0 -150px;}
	.flag.flag-15x15.ARM {background-position: 0 -165px;}
	.flag.flag-15x15.ARU {background-position: 0 -180px;}
	.flag.flag-15x15.ASA {background-position: 0 -195px;}
	.flag.flag-15x15.ASM {background-position: 0 -210px;}
	.flag.flag-15x15.AST {background-position: 0 -225px;}
	.flag.flag-15x15.ATG {background-position: 0 -240px;}
	.flag.flag-15x15.AUS {background-position: 0 -255px;}
	.flag.flag-15x15.AUT {background-position: 0 -270px;}
	.flag.flag-15x15.AZE {background-position: 0 -285px;}
	.flag.flag-15x15.BAH {background-position: 0 -300px;}
	.flag.flag-15x15.BAN {background-position: 0 -315px;}
	.flag.flag-15x15.BAR {background-position: 0 -330px;}
	.flag.flag-15x15.BDI {background-position: 0 -345px;}
	.flag.flag-15x15.BEL {background-position: 0 -360px;}
	.flag.flag-15x15.BEN {background-position: 0 -375px;}
	.flag.flag-15x15.BER {background-position: 0 -390px;}
	.flag.flag-15x15.BFA {background-position: 0 -405px;}
	.flag.flag-15x15.BGD {background-position: 0 -420px;}
	.flag.flag-15x15.BGR {background-position: 0 -435px;}
	.flag.flag-15x15.BHR {background-position: 0 -450px;}
	.flag.flag-15x15.BHS {background-position: 0 -465px;}
	.flag.flag-15x15.BHU {background-position: 0 -480px;}
	.flag.flag-15x15.BIH {background-position: 0 -495px;}
	.flag.flag-15x15.BIZ {background-position: 0 -510px;}
	.flag.flag-15x15.BLR {background-position: 0 -525px;}
	.flag.flag-15x15.BLZ {background-position: 0 -540px;}
	.flag.flag-15x15.BMU {background-position: 0 -555px;}
	.flag.flag-15x15.BOL {background-position: 0 -570px;}
	.flag.flag-15x15.BOT {background-position: 0 -585px;}
	.flag.flag-15x15.BRA {background-position: 0 -600px;}
	.flag.flag-15x15.BRB {background-position: 0 -615px;}
	.flag.flag-15x15.BRN {background-position: 0 -630px;}
	.flag.flag-15x15.BRU {background-position: 0 -645px;}
	.flag.flag-15x15.BRZ {background-position: 0 -660px;}
	.flag.flag-15x15.BTN {background-position: 0 -675px;}
	.flag.flag-15x15.BUL {background-position: 0 -690px;}
	.flag.flag-15x15.BUR {background-position: 0 -705px;}
	.flag.flag-15x15.BWA {background-position: 0 -720px;}
	.flag.flag-15x15.CAM {background-position: 0 -735px;}
	.flag.flag-15x15.CAN {background-position: 0 -750px;}
	.flag.flag-15x15.CAY {background-position: 0 -765px;}
	.flag.flag-15x15.CGO {background-position: 0 -780px;}
	.flag.flag-15x15.CHA {background-position: 0 -795px;}
	.flag.flag-15x15.CHI {background-position: 0 -810px;}
	.flag.flag-15x15.CHL {background-position: 0 -825px;}
	.flag.flag-15x15.CHN {background-position: 0 -840px;}
	.flag.flag-15x15.CHZ {background-position: 0 -855px;}
	.flag.flag-15x15.CMR {background-position: 0 -870px;}
	.flag.flag-15x15.COG {background-position: 0 -885px;}
	.flag.flag-15x15.COK {background-position: 0 -900px;}
	.flag.flag-15x15.COL {background-position: 0 -915px;}
	.flag.flag-15x15.COM {background-position: 0 -930px;}
	.flag.flag-15x15.CPV {background-position: 0 -945px;}
	.flag.flag-15x15.CRC {background-position: 0 -960px;}
	.flag.flag-15x15.CRI {background-position: 0 -975px;}
	.flag.flag-15x15.CRO {background-position: 0 -990px;}
	.flag.flag-15x15.CUB {background-position: 0 -1005px;}
	.flag.flag-15x15.CYM {background-position: 0 -1020px;}
	.flag.flag-15x15.CYP {background-position: 0 -1035px;}
	.flag.flag-15x15.DEN {background-position: 0 -1050px;}
	.flag.flag-15x15.DEU {background-position: 0 -1065px;}
	.flag.flag-15x15.DJI {background-position: 0 -1080px;}
	.flag.flag-15x15.DMA {background-position: 0 -1095px;}
	.flag.flag-15x15.DOM {background-position: 0 -1110px;}
	.flag.flag-15x15.DZA {background-position: 0 -1125px;}
	.flag.flag-15x15.ECU {background-position: 0 -1140px;}
	.flag.flag-15x15.EGY {background-position: 0 -1155px;}
	.flag.flag-15x15.ENG {background-position: 0 -1170px;}
	.flag.flag-15x15.ERI {background-position: 0 -1185px;}
	.flag.flag-15x15.ESP {background-position: 0 -1200px;}
	.flag.flag-15x15.EST {background-position: 0 -1215px;}
	.flag.flag-15x15.ETH {background-position: 0 -1230px;}
	.flag.flag-15x15.EUR {background-position: 0 -1245px;}
	.flag.flag-15x15.FIJ {background-position: 0 -1260px;}
	.flag.flag-15x15.FIN {background-position: 0 -1275px;}
	.flag.flag-15x15.FRA {background-position: 0 -1290px;}
	.flag.flag-15x15.FRN {background-position: 0 -1305px;}
	.flag.flag-15x15.FSM {background-position: 0 -1320px;}
	.flag.flag-15x15.GAB {background-position: 0 -1335px;}
	.flag.flag-15x15.GEO {background-position: 0 -1350px;}
	.flag.flag-15x15.GER {background-position: 0 -1365px;}
	.flag.flag-15x15.GHA {background-position: 0 -1380px;}
	.flag.flag-15x15.GIN {background-position: 0 -1395px;}
	.flag.flag-15x15.GMB {background-position: 0 -1410px;}
	.flag.flag-15x15.GNB {background-position: 0 -1425px;}
	.flag.flag-15x15.GRC {background-position: 0 -1440px;}
	.flag.flag-15x15.GRD {background-position: 0 -1455px;}
	.flag.flag-15x15.GTM {background-position: 0 -1470px;}
	.flag.flag-15x15.GUA {background-position: 0 -1485px;}
	.flag.flag-15x15.GUM {background-position: 0 -1500px;}
	.flag.flag-15x15.GUY {background-position: 0 -1515px;}
	.flag.flag-15x15.HKG {background-position: 0 -1530px;}
	.flag.flag-15x15.HND {background-position: 0 -1545px;}
	.flag.flag-15x15.HOL {background-position: 0 -1560px;}
	.flag.flag-15x15.HRV {background-position: 0 -1575px;}
	.flag.flag-15x15.HTI {background-position: 0 -1590px;}
	.flag.flag-15x15.HUN {background-position: 0 -1605px;}
	.flag.flag-15x15.ICE {background-position: 0 -1620px;}
	.flag.flag-15x15.IND {background-position: 0 -1635px;}
	.flag.flag-15x15.IQR {background-position: 0 -1650px;}
	.flag.flag-15x15.IRE {background-position: 0 -1665px;}
	.flag.flag-15x15.IRL {background-position: 0 -1680px;}
	.flag.flag-15x15.IRN {background-position: 0 -1695px;}
	.flag.flag-15x15.ISA {background-position: 0 -1710px;}
	.flag.flag-15x15.ISL {background-position: 0 -1725px;}
	.flag.flag-15x15.ISR {background-position: 0 -1740px;}
	.flag.flag-15x15.ITA {background-position: 0 -1755px;}
	.flag.flag-15x15.ITY {background-position: 0 -1770px;}
	.flag.flag-15x15.JAM {background-position: 0 -1785px;}
	.flag.flag-15x15.JOR {background-position: 0 -1800px;}
	.flag.flag-15x15.JPN {background-position: 0 -1815px;}
	.flag.flag-15x15.KAZ {background-position: 0 -1830px;}
	.flag.flag-15x15.KEN {background-position: 0 -1845px;}
	.flag.flag-15x15.KGZ {background-position: 0 -1860px;}
	.flag.flag-15x15.KHM {background-position: 0 -1875px;}
	.flag.flag-15x15.KIR {background-position: 0 -1890px;}
	.flag.flag-15x15.KNA {background-position: 0 -1905px;}
	.flag.flag-15x15.KOR {background-position: 0 -1920px;}
	.flag.flag-15x15.KWT {background-position: 0 -1935px;}
	.flag.flag-15x15.LAS {background-position: 0 -1950px;}
	.flag.flag-15x15.LBN {background-position: 0 -1965px;}
	.flag.flag-15x15.LBR {background-position: 0 -1980px;}
	.flag.flag-15x15.LIE {background-position: 0 -1995px;}
	.flag.flag-15x15.LKA {background-position: 0 -2010px;}
	.flag.flag-15x15.LSO {background-position: 0 -2025px;}
	.flag.flag-15x15.LTU {background-position: 0 -2040px;}
	.flag.flag-15x15.LUX {background-position: 0 -2055px;}
	.flag.flag-15x15.LVA {background-position: 0 -2070px;}
	.flag.flag-15x15.LYB {background-position: 0 -2085px;}
	.flag.flag-15x15.MAI {background-position: 0 -2100px;}
	.flag.flag-15x15.MAS {background-position: 0 -2115px;}
	.flag.flag-15x15.MDG {background-position: 0 -2130px;}
	.flag.flag-15x15.MDV {background-position: 0 -2145px;}
	.flag.flag-15x15.MEX {background-position: 0 -2160px;}
	.flag.flag-15x15.MKD {background-position: 0 -2175px;}
	.flag.flag-15x15.MLI {background-position: 0 -2190px;}
	.flag.flag-15x15.MLT {background-position: 0 -2205px;}
	.flag.flag-15x15.MNG {background-position: 0 -2220px;}
	.flag.flag-15x15.MON {background-position: 0 -2235px;}
	.flag.flag-15x15.MOZ {background-position: 0 -2250px;}
	.flag.flag-15x15.MRT {background-position: 0 -2265px;}
	.flag.flag-15x15.MTN {background-position: 0 -2280px;}
	.flag.flag-15x15.MUS {background-position: 0 -2295px;}
	.flag.flag-15x15.MWI {background-position: 0 -2310px;}
	.flag.flag-15x15.MYA {background-position: 0 -2325px;}
	.flag.flag-15x15.NAM {background-position: 0 -2340px;}
	.flag.flag-15x15.NED {background-position: 0 -2355px;}
	.flag.flag-15x15.NER {background-position: 0 -2370px;}
	.flag.flag-15x15.NET {background-position: 0 -2385px;}
	.flag.flag-15x15.NGA {background-position: 0 -2400px;}
	.flag.flag-15x15.NIC {background-position: 0 -2415px;}
	.flag.flag-15x15.NIR {background-position: 0 -2430px;}
	.flag.flag-15x15.NKR {background-position: 0 -2445px;}
	.flag.flag-15x15.NOR {background-position: 0 -2460px;}
	.flag.flag-15x15.NPL {background-position: 0 -2475px;}
	.flag.flag-15x15.NRU {background-position: 0 -2490px;}
	.flag.flag-15x15.NZL {background-position: 0 -2505px;}
	.flag.flag-15x15.OMN {background-position: 0 -2520px;}
	.flag.flag-15x15.PAK {background-position: 0 -2535px;}
	.flag.flag-15x15.PAN {background-position: 0 -2550px;}
	.flag.flag-15x15.PAR {background-position: 0 -2565px;}
	.flag.flag-15x15.PER {background-position: 0 -2580px;}
	.flag.flag-15x15.PHI {background-position: 0 -2595px;}
	.flag.flag-15x15.PKA {background-position: 0 -2610px;}
	.flag.flag-15x15.PLS {background-position: 0 -2625px;}
	.flag.flag-15x15.PLW {background-position: 0 -2640px;}
	.flag.flag-15x15.PNG {background-position: 0 -2655px;}
	.flag.flag-15x15.POL {background-position: 0 -2670px;}
	.flag.flag-15x15.POR {background-position: 0 -2685px;}
	.flag.flag-15x15.PR {background-position: 0 -2700px;}
	.flag.flag-15x15.PUE {background-position: 0 -2715px;}
	.flag.flag-15x15.PUR {background-position: 0 -2730px;}
	.flag.flag-15x15.QAT {background-position: 0 -2745px;}
	.flag.flag-15x15.ROU {background-position: 0 -2760px;}
	.flag.flag-15x15.RSA {background-position: 0 -2775px;}
	.flag.flag-15x15.RUS {background-position: 0 -2790px;}
	.flag.flag-15x15.RWA {background-position: 0 -2805px;}
	.flag.flag-15x15.SAF {background-position: 0 -2820px;}
	.flag.flag-15x15.SAU {background-position: 0 -2835px;}
	.flag.flag-15x15.SCO {background-position: 0 -2850px;}
	.flag.flag-15x15.SDN {background-position: 0 -2865px;}
	.flag.flag-15x15.SEN {background-position: 0 -2880px;}
	.flag.flag-15x15.SIN {background-position: 0 -2895px;}
	.flag.flag-15x15.SLB {background-position: 0 -2910px;}
	.flag.flag-15x15.SLE {background-position: 0 -2925px;}
	.flag.flag-15x15.SLV {background-position: 0 -2940px;}
	.flag.flag-15x15.SMR {background-position: 0 -2955px;}
	.flag.flag-15x15.SOM {background-position: 0 -2970px;}
	.flag.flag-15x15.SPN {background-position: 0 -2985px;}
	.flag.flag-15x15.STP {background-position: 0 -3000px;}
	.flag.flag-15x15.SUI {background-position: 0 -3015px;}
	.flag.flag-15x15.SUR {background-position: 0 -3030px;}
	.flag.flag-15x15.SVK {background-position: 0 -3045px;}
	.flag.flag-15x15.SVN {background-position: 0 -3060px;}
	.flag.flag-15x15.SWE {background-position: 0 -3075px;}
	.flag.flag-15x15.SWM {background-position: 0 -3090px;}
	.flag.flag-15x15.SWZ {background-position: 0 -3105px;}
	.flag.flag-15x15.SYC {background-position: 0 -3120px;}
	.flag.flag-15x15.SYR {background-position: 0 -3135px;}
	.flag.flag-15x15.TAH {background-position: 0 -3150px;}
	.flag.flag-15x15.TCD {background-position: 0 -3165px;}
	.flag.flag-15x15.TGO {background-position: 0 -3180px;}
	.flag.flag-15x15.THA {background-position: 0 -3195px;}
	.flag.flag-15x15.TJK {background-position: 0 -3210px;}
	.flag.flag-15x15.TKM {background-position: 0 -3225px;}
	.flag.flag-15x15.TKY {background-position: 0 -3240px;}
	.flag.flag-15x15.TNT {background-position: 0 -3255px;}
	.flag.flag-15x15.TON {background-position: 0 -3270px;}
	.flag.flag-15x15.TPE {background-position: 0 -3285px;}
	.flag.flag-15x15.TUN {background-position: 0 -3300px;}
	.flag.flag-15x15.TWN {background-position: 0 -3315px;}
	.flag.flag-15x15.TZA {background-position: 0 -3330px;}
	.flag.flag-15x15.UGA {background-position: 0 -3345px;}
	.flag.flag-15x15.UKR {background-position: 0 -3360px;}
	.flag.flag-15x15.UNKNOWN {background-position: 0 -3375px;}
	.flag.flag-15x15.URU {background-position: 0 -3390px;}
	.flag.flag-15x15.USA {background-position: 0 -3405px;}
	.flag.flag-15x15.UZB {background-position: 0 -3420px;}
	.flag.flag-15x15.VCT {background-position: 0 -3435px;}
	.flag.flag-15x15.VEN {background-position: 0 -3450px;}
	.flag.flag-15x15.VGB {background-position: 0 -3465px;}
	.flag.flag-15x15.VIR {background-position: 0 -3480px;}
	.flag.flag-15x15.VNM {background-position: 0 -3495px;}
	.flag.flag-15x15.VUT {background-position: 0 -3510px;}
	.flag.flag-15x15.WAL {background-position: 0 -3525px;}
	.flag.flag-15x15.YEM {background-position: 0 -3540px;}
	.flag.flag-15x15.YUG {background-position: 0 -3555px;}
	.flag.flag-15x15.ZAM {background-position: 0 0;}
	.flag.flag-15x15.ZIM {background-position: 0 -3585px;}
	.flag.flag-24x24.AFG {background-position: 0 -7167px;}
	.flag.flag-24x24.AHO {background-position: 0 -3639px;}
	.flag.flag-24x24.AIA {background-position: 0 -6447px;}
	.flag.flag-24x24.ALB {background-position: 0 -3663px;}
	.flag.flag-24x24.ALG {background-position: 0 -3687px;}
	.flag.flag-24x24.AND {background-position: 0 -3711px;}
	.flag.flag-24x24.ANG {background-position: 0 -3735px;}
	.flag.flag-24x24.ANT {background-position: 0 -3759px;}
	.flag.flag-24x24.ARG {background-position: 0 -3783px;}
	.flag.flag-24x24.ARM {background-position: 0 -3807px;}
	.flag.flag-24x24.ARU {background-position: 0 -3831px;}
	.flag.flag-24x24.ASA {background-position: 0 -3855px;}
	.flag.flag-24x24.ASEAN {background-position: 0 -3879px;}
	.flag.flag-24x24.ATA {background-position: 0 -3903px;}
	.flag.flag-24x24.AUS {background-position: 0 -3927px;}
	.flag.flag-24x24.AUT {background-position: 0 -3951px;}
	.flag.flag-24x24.AZE {background-position: 0 -3975px;}
	.flag.flag-24x24.BAH {background-position: 0 -3999px;}
	/* .flag.flag-24x24.BAN {background-position: 0 -4023px;} */
	.flag.flag-24x24.BGD {background-position: 0 -4023px;}
	.flag.flag-24x24.BAR {background-position: 0 -4047px;}
	.flag.flag-24x24.BDI {background-position: 0 -4071px;}
	.flag.flag-24x24.BEL {background-position: 0 -4095px;}
	.flag.flag-24x24.BEN {background-position: 0 -4119px;}
	.flag.flag-24x24.BER {background-position: 0 -4143px;}
	.flag.flag-24x24.BHU {background-position: 0 -4167px;}
	.flag.flag-24x24.BIH {background-position: 0 -4191px;}
	.flag.flag-24x24.BIZ {background-position: 0 -4215px;}
	.flag.flag-24x24.BLR {background-position: 0 -4239px;}
	.flag.flag-24x24.BOL {background-position: 0 -4263px;}
	.flag.flag-24x24.BOT {background-position: 0 -4287px;}
	.flag.flag-24x24.BRA {background-position: 0 -4311px;}
	.flag.flag-24x24.BRN {background-position: 0 -4335px;}
	.flag.flag-24x24.BRU {background-position: 0 -4359px;}
	.flag.flag-24x24.BUL {background-position: 0 -4383px;}
	.flag.flag-24x24.BUR {background-position: 0 -4407px;}
	.flag.flag-24x24.CAF {background-position: 0 -4431px;}
	.flag.flag-24x24.CAM {background-position: 0 -4455px;}
	.flag.flag-24x24.CAN {background-position: 0 -4479px;}
	.flag.flag-24x24.CAY {background-position: 0 -4503px;}
	.flag.flag-24x24.CGO {background-position: 0 -4527px;}
	.flag.flag-24x24.CHA {background-position: 0 -4551px;}
	.flag.flag-24x24.CHI {background-position: 0 -4575px;}
	.flag.flag-24x24.CHN {background-position: 0 -4599px;}
	.flag.flag-24x24.CIV {background-position: 0 -4623px;}
	.flag.flag-24x24.CMR {background-position: 0 -4647px;}
	.flag.flag-24x24.COD {background-position: 0 -4671px;}
	.flag.flag-24x24.COK {background-position: 0 -4695px;}
	.flag.flag-24x24.COL {background-position: 0 -4719px;}
	.flag.flag-24x24.COM {background-position: 0 -4743px;}
	.flag.flag-24x24.CPV {background-position: 0 -4767px;}
	.flag.flag-24x24.CRC {background-position: 0 -4791px;}
	.flag.flag-24x24.CRO {background-position: 0 -4815px;}
	.flag.flag-24x24.CUB {background-position: 0 -4839px;}
	.flag.flag-24x24.CYP {background-position: 0 -4863px;}
	.flag.flag-24x24.CZE {background-position: 0 -4887px;}
	.flag.flag-24x24.DEN {background-position: 0 -4911px;}
	.flag.flag-24x24.DEU {background-position: 0 -4935px;}
	.flag.flag-24x24.DJI {background-position: 0 -4959px;}
	.flag.flag-24x24.DMA {background-position: 0 -4983px;}
	.flag.flag-24x24.DOM {background-position: 0 -5007px;}
	.flag.flag-24x24.ECU {background-position: 0 -5031px;}
	.flag.flag-24x24.EGY {background-position: 0 -5055px;}
	.flag.flag-24x24.ENG {background-position: 0 -5079px;}
	.flag.flag-24x24.ERI {background-position: 0 -5103px;}
	.flag.flag-24x24.ESA {background-position: 0 -5127px;}
	.flag.flag-24x24.ESH {background-position: 0 -5151px;}
	.flag.flag-24x24.ESP {background-position: 0 -5175px;}
	.flag.flag-24x24.EST {background-position: 0 -5199px;}
	.flag.flag-24x24.ETH {background-position: 0 -5223px;}
	.flag.flag-24x24.EUR {background-position: 0 -5247px;}
	.flag.flag-24x24.FIJ {background-position: 0 -5271px;}
	.flag.flag-24x24.FIN {background-position: 0 -5295px;}
	.flag.flag-24x24.FRA {background-position: 0 -5319px;}
	.flag.flag-24x24.FRO {background-position: 0 -5343px;}
	.flag.flag-24x24.FSM {background-position: 0 -5367px;}
	.flag.flag-24x24.GAB {background-position: 0 -5391px;}
	.flag.flag-24x24.GAM {background-position: 0 -5415px;}
	.flag.flag-24x24.GBR {background-position: 0 -5439px;}
	.flag.flag-24x24.GEO {background-position: 0 -5463px;}
	.flag.flag-24x24.GEQ {background-position: 0 -5487px;}
	.flag.flag-24x24.GER {background-position: 0 -5511px;}
	.flag.flag-24x24.GGY {background-position: 0 -5535px;}
	.flag.flag-24x24.GHA {background-position: 0 -5559px;}
	.flag.flag-24x24.GIB {background-position: 0 -5583px;}
	.flag.flag-24x24.GLP {background-position: 0 -5607px;}
	.flag.flag-24x24.GNS {background-position: 0 -5631px;}
	.flag.flag-24x24.GRE {background-position: 0 -5655px;}
	.flag.flag-24x24.GRL {background-position: 0 -5679px;}
	.flag.flag-24x24.GRN {background-position: 0 -5703px;}
	.flag.flag-24x24.GUA {background-position: 0 -5727px;}
	.flag.flag-24x24.GUI {background-position: 0 -5751px;}
	.flag.flag-24x24.GUM {background-position: 0 -5775px;}
	.flag.flag-24x24.GUY {background-position: 0 -5799px;}
	.flag.flag-24x24.HAI {background-position: 0 -5823px;}
	.flag.flag-24x24.HKG {background-position: 0 -5847px;}
	.flag.flag-24x24.HON {background-position: 0 -5871px;}
	.flag.flag-24x24.HUN {background-position: 0 -5895px;}
	.flag.flag-24x24.IMN {background-position: 0 -5919px;}
	.flag.flag-24x24.INA {background-position: 0 -5943px;}
	.flag.flag-24x24.IND {background-position: 0 -5967px;}
	.flag.flag-24x24.IRI {background-position: 0 -5991px;}
	.flag.flag-24x24.IRL {background-position: 0 -6015px;}
	.flag.flag-24x24.IRQ {background-position: 0 -6039px;}
	.flag.flag-24x24.ISL {background-position: 0 -6063px;}
	.flag.flag-24x24.ISR {background-position: 0 -6087px;}
	.flag.flag-24x24.ISV {background-position: 0 -6111px;}
	.flag.flag-24x24.ITA {background-position: 0 -6135px;}
	.flag.flag-24x24.IVB {background-position: 0 -6159px;}
	.flag.flag-24x24.JAM {background-position: 0 -6183px;}
	.flag.flag-24x24.JEY {background-position: 0 -6207px;}
	.flag.flag-24x24.JOR {background-position: 0 -6231px;}
	.flag.flag-24x24.JPN {background-position: 0 -6255px;}
	.flag.flag-24x24.KAZ {background-position: 0 -6279px;}
	.flag.flag-24x24.KEN {background-position: 0 -6303px;}
	.flag.flag-24x24.KGZ {background-position: 0 -6327px;}
	.flag.flag-24x24.KIR {background-position: 0 -6351px;}
	.flag.flag-24x24.KOR {background-position: 0 -6375px;}
	.flag.flag-24x24.KSA {background-position: 0 -6399px;}
	.flag.flag-24x24.KUW {background-position: 0 -6423px;}
	.flag.flag-24x24.LAO {background-position: 0 -3615px;}
	.flag.flag-24x24.LAT {background-position: 0 -6471px;}
	.flag.flag-24x24.LBA {background-position: 0 -6495px;}
	.flag.flag-24x24.LBR {background-position: 0 -6519px;}
	.flag.flag-24x24.LCA {background-position: 0 -6543px;}
	.flag.flag-24x24.LES {background-position: 0 -6567px;}
	.flag.flag-24x24.LIB {background-position: 0 -6591px;}
	.flag.flag-24x24.LIE {background-position: 0 -6615px;}
	.flag.flag-24x24.LTU {background-position: 0 -6639px;}
	.flag.flag-24x24.LUX {background-position: 0 -6663px;}
	.flag.flag-24x24.MAC {background-position: 0 -6687px;}
	.flag.flag-24x24.MAD {background-position: 0 -6711px;}
	.flag.flag-24x24.MAR {background-position: 0 -6735px;}
	.flag.flag-24x24.MAS {background-position: 0 -6759px;}
	.flag.flag-24x24.MAW {background-position: 0 -6783px;}
	.flag.flag-24x24.MDA {background-position: 0 -6807px;}
	.flag.flag-24x24.MDV {background-position: 0 -6831px;}
	.flag.flag-24x24.MEX {background-position: 0 -6855px;}
	.flag.flag-24x24.MGL {background-position: 0 -6879px;}
	.flag.flag-24x24.MHL {background-position: 0 -6903px;}
	.flag.flag-24x24.MKD {background-position: 0 -6927px;}
	.flag.flag-24x24.MLI {background-position: 0 -6951px;}
	.flag.flag-24x24.MLT {background-position: 0 -6975px;}
	.flag.flag-24x24.MNE {background-position: 0 -6999px;}
	.flag.flag-24x24.MON {background-position: 0 -7023px;}
	.flag.flag-24x24.MOZ {background-position: 0 -7047px;}
	.flag.flag-24x24.MRI {background-position: 0 -7071px;}
	.flag.flag-24x24.MSR {background-position: 0 -7095px;}
	.flag.flag-24x24.MTN {background-position: 0 -7119px;}
	.flag.flag-24x24.MTQ {background-position: 0 -7143px;}
	.flag.flag-24x24.MYA {background-position: 0 -3600px; width: 22px;}
	.flag.flag-24x24.NAM {background-position: 0 -7191px;}
	.flag.flag-24x24.NCA {background-position: 0 -7215px;}
	.flag.flag-24x24.NCL {background-position: 0 -7239px;}
	.flag.flag-24x24.NED {background-position: 0 -7263px;}
	.flag.flag-24x24.NEP {background-position: 0 -7287px;}
	.flag.flag-24x24.NGR {background-position: 0 -7311px;}
	.flag.flag-24x24.NIG {background-position: 0 -7335px;}
	.flag.flag-24x24.NIR {background-position: 0 -7359px;}
	.flag.flag-24x24.NOR {background-position: 0 -7383px;}
	.flag.flag-24x24.NRU {background-position: 0 -7407px;}
	.flag.flag-24x24.NZL {background-position: 0 -7431px;}
	.flag.flag-24x24.OMA {background-position: 0 -7455px;}
	.flag.flag-24x24.PAK {background-position: 0 -7479px;}
	.flag.flag-24x24.PAN {background-position: 0 -7503px;}
	.flag.flag-24x24.PAR {background-position: 0 -7527px;}
	.flag.flag-24x24.PER {background-position: 0 -7551px;}
	.flag.flag-24x24.PHI {background-position: 0 -7575px;}
	.flag.flag-24x24.PLE {background-position: 0 -7599px;}
	.flag.flag-24x24.PLW {background-position: 0 -7623px;}
	.flag.flag-24x24.PNG {background-position: 0 -7647px;}
	.flag.flag-24x24.POL {background-position: 0 -7671px;}
	.flag.flag-24x24.POR {background-position: 0 -7695px;}
	.flag.flag-24x24.PRK {background-position: 0 -7719px;}
	.flag.flag-24x24.PUE {background-position: 0 -7743px;}
	.flag.flag-24x24.PUR {background-position: 0 -7767px;}
	.flag.flag-24x24.PYF {background-position: 0 -7791px;}
	.flag.flag-24x24.QAT {background-position: 0 -7815px;}
	.flag.flag-24x24.RNC {background-position: 0 -7839px;}
	.flag.flag-24x24.ROC {background-position: 0 -7863px;}
	.flag.flag-24x24.ROU {background-position: 0 -7887px;}
	.flag.flag-24x24.RSA {background-position: 0 -7911px;}
	.flag.flag-24x24.RUS {background-position: 0 -7935px;}
	.flag.flag-24x24.RWA {background-position: 0 -7959px;}
	.flag.flag-24x24.SAM {background-position: 0 -7983px;}
	.flag.flag-24x24.SCO {background-position: 0 -8007px;}
	.flag.flag-24x24.SEN {background-position: 0 -8031px;}
	.flag.flag-24x24.SEY {background-position: 0 -8055px;}
	.flag.flag-24x24.SIN {background-position: 0 -8079px;}
	.flag.flag-24x24.SKN {background-position: 0 -8103px;}
	.flag.flag-24x24.SLE {background-position: 0 -8127px;}
	.flag.flag-24x24.SLO {background-position: 0 -8151px;}
	.flag.flag-24x24.SMR {background-position: 0 -8175px;}
	.flag.flag-24x24.SOL {background-position: 0 -8199px;}
	.flag.flag-24x24.SOM {background-position: 0 -8223px;}
	.flag.flag-24x24.SOS {background-position: 0 -8247px;}
	.flag.flag-24x24.SRB {background-position: 0 -8271px;}
	.flag.flag-24x24.SRI {background-position: 0 -8295px;}
	.flag.flag-24x24.STP {background-position: 0 -8319px;}
	.flag.flag-24x24.SUD {background-position: 0 -8343px;}
	.flag.flag-24x24.SUI {background-position: 0 -8367px;}
	.flag.flag-24x24.SUR {background-position: 0 -8391px;}
	.flag.flag-24x24.SVK {background-position: 0 -8415px;}
	.flag.flag-24x24.SWE {background-position: 0 -8439px;}
	.flag.flag-24x24.SWZ {background-position: 0 -8463px;}
	.flag.flag-24x24.SYR {background-position: 0 -8487px;}
	.flag.flag-24x24.TAN {background-position: 0 -8511px;}
	.flag.flag-24x24.TCA {background-position: 0 -8535px;}
	.flag.flag-24x24.TGA {background-position: 0 -8559px;}
	.flag.flag-24x24.THA {background-position: 0 -8583px;}
	.flag.flag-24x24.TJK {background-position: 0 -8607px;}
	.flag.flag-24x24.TKM {background-position: 0 -8631px;}
	.flag.flag-24x24.TLS {background-position: 0 -8655px;}
	.flag.flag-24x24.TOG {background-position: 0 -8679px;}
	.flag.flag-24x24.TPE {background-position: 0 -8703px;}
	.flag.flag-24x24.TTO {background-position: 0 -8727px;}
	.flag.flag-24x24.TUN {background-position: 0 -8751px;}
	.flag.flag-24x24.TUR {background-position: 0 -8775px;}
	.flag.flag-24x24.TUV {background-position: 0 -8799px;}
	.flag.flag-24x24.TWN {background-position: 0 -8823px;}
	.flag.flag-24x24.UAE {background-position: 0 -8847px;}
	.flag.flag-24x24.UGA {background-position: 0 -8871px;}
	.flag.flag-24x24.UKR {background-position: 0 -8895px;}
	.flag.flag-24x24.UNKNOWN {background-position: 0 -8919px;}
	.flag.flag-24x24.UNX {background-position: 0 -8943px;}
	.flag.flag-24x24.URU {background-position: 0 -8967px;}
	.flag.flag-24x24.USA {background-position: 0 -8991px;}
	.flag.flag-24x24.UZB {background-position: 0 -9015px;}
	.flag.flag-24x24.VAN {background-position: 0 -9039px;}
	.flag.flag-24x24.VAT {background-position: 0 -9063px;}
	.flag.flag-24x24.VEN {background-position: 0 -9087px;}
	.flag.flag-24x24.VIE {background-position: 0 -9111px;}
	.flag.flag-24x24.VIN {background-position: 0 -9135px;}
	.flag.flag-24x24.WAL {background-position: 0 -9159px;}
	.flag.flag-24x24.XKV {background-position: 0 -9183px;}
	.flag.flag-24x24.YEM {background-position: 0 -9207px;}
	.flag.flag-24x24.ZAM {background-position: 0 -9231px;}
	.flag.flag-24x24.ZIM {background-position: 0 -9255px;}
/*[e] æ¿šë°¸Ãžï¿½ëœï¿½ëš³ì˜™ */

.btnWrapNew .btn{background:#fff;color:#696969;border:1px solid #696969;padding: 5px 12px;}
.btnWrapNew .btnOn{background:#3a84d1;color:#ffffff;padding: 5px 12px;}





/* 추가 */

		*{margin:0; padding:0; box-sizing:border-box;}
		ul,li{list-style:none;}
		a{text-decoration:none;}

		.fl{float:left !important;}
		.fr{float:right !important;}
		.red{color:#ff3529!important;}
		.blue{color:#236cd9!important;}
		.emp{background:#88744d !important; border:1px solid #7c673f !important;}
		.wrapper{padding:10px;}

		.compWrap h3{overflow:hidden; font-size:26px; height:30px; line-height:30px; color:#333;}
		.compWrap h3 span{display:block; float:right; font-size:16px; height:30px; line-height:30px;}
		.roundList {overflow:hidden;}
		.roundList li{float:left; margin-right:10px;}
		.roundList li:last-child{margin-right:0;}
		.roundList li a{display:block; padding:6px 10px; font-size:16px; color:#fff; background:#ccc; border-radius:10px;}
		.roundList li.on a, .roundList li:hover a{background:#06493d;}

		.par_color { list-style:none; overflow:hidden; padding:5px 20px;}
		.par_color li {float: left; min-width:  50px; margin-right:10px; line-height:18px; font-size:11px;}
		.par_color li > div {float:left; display:block; width: 18px; height: 18px; margin-right:5px;  box-sizing:border-box;}

		.par_color td > div{display:inline-block;vertical-align:bottom; width: 16px; height: 16px; margin-right:5px;  box-sizing:border-box;}
		.par_color td div > div{margin:1px !important;}

		.par_color div.eagle {border:1px solid #a6863f; border-radius:50%;}
		.par_color div.eagle > div{width:12px; height:12px; margin:2px; border:1px solid #a6863f; border-radius:50%;}
		.par_color div.birdie{border:1px solid #a6863f; border-radius:50%;}
		.par_color div.par {}
		.par_color div.bogey {border:1px solid #0057cb;}
		.par_color div.dbogey {border:1px solid #2c22ff;}
		.par_color div.dbogey > div{width:12px; height:12px; margin:2px; border:1px solid #2c22ff;}
		.par_color div.tbogey {border:3px solid #0a2548;}

		.hole_group {margin:0 auto 5px; width:98%; border: 1px solid #333; padding:10px;}
		.hole_group .group_nm {width: 100%;}
		.hole_group button.btn{font-size:15px !important; display:block; margin:5px auto 0 !important; font-weight:bold; color:#000;}

		td{position:relative;}
		td>span{display:block; width:26px; height:26px; line-height:23px; text-align:center; margin:0 auto; box-sizing:border-box; border:1px solid rgba(0,0,0,0); margin:10px auto;}
		td>span>span{display:block; line-height:18px; margin:2px; box-sizing:border-box; border:1px solid  rgba(0,0,0,0);}
		td.eagle>span{border:1px solid #a6863f; border-radius:50%;}
		td.eagle>span>span{border:1px solid #a6863f; border-radius:50%;}
		td.birdie>span{border:1px solid #a6863f; border-radius:50%;}
		td.birdie>span>span{border:0;}
		td.par>span{}
		td.bogey>span{border:1px solid #0057cb;}
		td.bogey>span>span{border:0;}
		td.dbogey>span{border:1px solid #2c22ff;}
		td.dbogey>span>span{border:1px solid #2c22ff;}
		td.tbogey>span{border:1px solid #0a2548;}
		td.tbogey>span>span{border:0;}


		.card3.full .leaderboard{height:850px !important;}
		.card .tableWrap .table{font-size:15px;  width: 100%;min-width: 1100px;  table-layout: auto !important;  border-spacing: 0; border-collapse: collapse;}
		.card .tableWrap .table tr{}
		.card .tableWrap .table thead tr {width:calc(100% - 18px);}
		.card .tableWrap .table thead tr th{vertical-align:middle; background:#fff;text-align:center;font-weight: bold; }
		.card .tableWrap .table thead tr th > a{color:#fff;}
		.card .tableWrap .table tbody tr{}
		.card .tableWrap .table tbody tr td{text-align:center; padding: 0; font-size:24px; }
		.card .tableWrap .table tbody tr td .hole_group{width:98%; padding:0; overflow:hidden;}
		.card .tableWrap .table tbody tr td .hole_group .group_nm{float:left; width:auto; width:10%;}
		.card .tableWrap .table tbody tr td .hole_group .btn-wrap{float:right; width:90%;}
		.card .tableWrap .table tbody tr td .btn{ font-size:24px !important; margin:0 3px; display:block; padding:0;}
		.card .tableWrap .table tbody tr td .btn.btnYes{background:#fff;color:#696969;border:1px solid #696969}
		.card .tableWrap .table tbody tr td .btn.btnYes:hover{background:#ccc}
		.card .tableWrap .table tbody tr td .btn.btnYes:active{background:#777}
		.card .tableWrap .table tbody tr td .btn.btnNo{background:#dc3545;color:#fff;}
		.card .tableWrap .table tbody tr td .btn.btnNo:hover{background:#c6303f}
		.card .tableWrap .table tbody tr td .btn.btnNo:active{background:#b02a38}
		.card .tableWrap .table tbody tr td .btnChange{background:#ff8318;color:#fff;font-size:12px;}
		.card .tableWrap .table tbody tr td .btnChange:hover{background:#e87b1d}
		.card .tableWrap .table tbody tr td .btnChange:active{background:#d4701a}
		.card .tableWrap .table tbody tr td .btnDelete{background:#888;color:#fff;font-size:12px;}
		.card .tableWrap .table tbody tr td .btnDelete:hover{background:#777}
		.card .tableWrap .table tbody tr td .btnDelete:active{background:#666}

		.card .tableWrap .table thead th.sticky-th, .card .tableWrap .table thead th.sticky-th-one {position:sticky; top:0px; z-index:9;}
		.card .tableWrap .table thead th.sticky-th-two {position:sticky; top:45px; z-index:9;}

		.card .tableWrap .table thead .sticky-th:after  {content:""; position: absolute; left:-1px; width:1px; height: 45px; background: #1e5b50}
		.card .tableWrap .table thead .sticky-th:before {content:""; position: absolute; left:0; width:102%; height: 2px; background: #1e5b50;}
		.card .tableWrap .table thead .sticky-th:after { top: 0px;}
		.card .tableWrap .table thead .sticky-th:before { top: -1px;}

		.card .tableWrap .table thead .sticky-th-one:after  {content:""; position: absolute; left:-1px; width:1px; height: 90px; background: #1e5b50}
		.card .tableWrap .table thead .sticky-th-one:before {content:""; position: absolute; left:0; width:102%; height: 2px; background: #1e5b50;}
		.card .tableWrap .table thead .sticky-th-one:after { top: 0px;}
		.card .tableWrap .table thead .sticky-th-one:before { top: -1px;}

		.card .tableWrap .table thead .sticky-th-two:after {content:""; position: absolute; top: -2px; left:0; width:102%; height: 2px; background: #1e5b50}
		.card .tableWrap .table thead .sticky-th-two:before {content:""; position: absolute; left:-1px; width:1px; height: 45px; background: #1e5b50;}
		.card .tableWrap .table thead .sticky-th-two:after { top: -2px;}
		.card .tableWrap .table thead .sticky-th-two:before { bottom: 0px;}

		.card .tableWrap .table thead .sticky-th.emp:after  { background: #7c673f}
		.card .tableWrap .table thead .sticky-th.emp:before { background: #7c673f;}

		.card .tableWrap .table thead .sticky-th-two.emp:after { background: #7c673f}
		.card .tableWrap .table thead .sticky-th-two.emp:before {background: #7c673f;}




		/* 추가변경  */
		.leaderboard{height: 200px; overflow-y:scroll; overflow-x: scroll;}
		.card .tableWrap .table thead{width:100%; overflow-x:auto;}
		.card .tableWrap .table thead tr{vertical-align:middle;}
		.card .tableWrap .table thead tr:nth-child(2){top:45px;}
		.card .tableWrap .table thead tr th{font-size:16px; padding:10px 6px; border:1px solid #1e5b50; background:#06493d; color:#fff;}
		.card .tableWrap .table tbody tr td{font-size:16px; border:1px solid #ddd;}
		.card .tableWrap .table tbody tr:nth-child(2n){background:#fafafa;}
		.card .tableWrap .table tbody tr:hover{background:#eee;}

		.card .tableWrap .table tbody tr td .hole_group{padding:3px 10px; background:#fafafa;}
		.card .tableWrap .table tbody tr td .hole_group .group_nm{width:100%; font-weight:bold; cursor:pointer; border-bottom:2px solid #212529; margin-bottom:5px; padding-bottom:5px;}

		.card .tableWrap .table tbody tr td .hole_group:hover, .card .tableWrap .table tbody tr td .hole_group.on{background:#ecb244;}
		.card .tableWrap .table tbody tr td .hole_group:hover .group_nm, .card .tableWrap .table tbody tr td .hole_group.on .group_nm{border-bottom:2px solid #fff}

		.card .tableWrap .table tbody tr td .hole_group .btn-wrap{width:100%;}
		.card .tableWrap .table tbody tr td .btn{overflow:hidden; background:none; border:0; font-size:14px !important; font-weight:400; padding:3px; width:100%;}

		.card .tableWrap .table tbody tr td .btn span{display:block;}

		/*modal*/
		.bodyOff{overflow:hidden;}
		.modalNCover{overflow:hidden;background:rgba(0,0,0,.6);z-index:999;position:fixed;width:100%;height:100%;top:0;left:0;}
		.modalN {position: fixed;z-index: 999;left:0;top: 0;width: 100%;height: 100%;; background-color: rgb(0,0,0,0.6);}
		.modalNClose {color: #aaa;font-size: 28px;font-weight: bold;float:right;display:inline-block;}
		.modalNClose:hover, .modalClose:focus {color: black;text-decoration: none;cursor: pointer;}
		.modalNCont {box-sizing:border-box;border-radius:10px;background-color: #fefefe;margin:9% auto;padding: 20px;border: 1px solid #888;width:90%;overflow:hidden;box-shadow:2px 2px 6px rgba(0,0,0,.2) }
		.modalNHeader{border-bottom:1px solid #ccc;padding-bottom:10px;}
		.modalNHeader > .tit{text-align:center; font-size:26px;font-weight:bold;color:#696969;line-height:28px; margin-bottom:0;}
		.modalNBody{box-sizing:border-box;width:100%;word-break:break-all;line-height:1.4;max-height:500px;overflow-y:auto;margin-top:20px;padding:0;}
		.modalNBody .mark01{display:block;width:60px;height:60px;background:url('../img/mark01.png')no-repeat center;background-size:60px 60px;margin:0px auto 20px;text-align:center;}
		.modalNBody .mark02{display:block;width:60px;height:60px;background:url('../img/mark02.png')no-repeat center;background-size:60px 60px;margin:0px auto 20px;text-align:center;}
		.modalNBody .modalTblWrap{margin-bottom:20px;}
		.modalNBody .modalTblWrap p{border-radius:10px 0;font-size: 18px;margin-bottom: 10px;font-weight: bold;text-align: center;background: #235994;color: #fff;padding: 5px;}
		.modalNBody .newTbl_basic{width:100%; text-align:center;}
		.modalNBody .newTbl_basic thead th{background:#06493d; color:#fff; border:1px solid #ccc;}
		.modalNBody .newTbl_basic tbody td{border:1px solid #ccc; padding:10px 5px;font-size:14px;}
		.modalNBody .newTbl_basic thead th:nth-child(1), .modalNBody .newTbl_basic tbody td:nth-child(1){width:40%;}
		.modalNFooter{margin-top:20px;padding-top:20px;text-align:center;border-top:1px solid #ccc;}
		.leaderboardTd tr td {vertical-align:middle; }


		@media only screen and (min-width: 768px) {
			.modalNCont {box-sizing:border-box;border-radius:10px;background-color: #fefefe;margin:9% auto;padding: 20px;border: 1px solid #888;width:1000px;overflow:hidden;box-shadow:2px 2px 6px rgba(0,0,0,.2) }
			.modalNBody{box-sizing:border-box;width:100%;word-break:break-all;line-height:1.4;max-height:500px;overflow-y:auto;margin-top:20px;padding:0 10px}
		}
		@media only screen and (min-width: 1100px) {

		}
