
/* 우간다*/ /*.flag.UGA {background-position: 0 -3345px;}*/
/* 폴란드 */ /*.flag.POL {background-position: 0 -33.15rem;}*/
/* 아이슬란드 */ /*.flag.ISL {background-position: 0 -33.8rem;}*/

/* 대한민국 */ .flag.KOR {background-image: url(/kpga/images/flag/KOR.png);}
/* 미국 */ .flag.USA {background-image: url(/kpga/images/flag/USA.png);}
/* 피지 */ .flag.FIJ {background-image: url(/kpga/images/flag/FIJ.png);}
/* 대만 */ .flag.TPE {background-image: url(/kpga/images/flag/TPE.png);}
/* 호주 */ .flag.AUS {background-image: url(/kpga/images/flag/AUS.png);}
/* 캐나다 */ .flag.CAN {background-image: url(/kpga/images/flag/CAN.png);}
/* 인도 */ .flag.IND {background-image: url(/kpga/images/flag/IND.png);}
/* 이탈리아 */ .flag.ITA {background-image: url(/kpga/images/flag/ITA.png);}
/* 싱가포르 */ .flag.SIN {background-image: url(/kpga/images/flag/SIN.png);}
/* 일본 */ .flag.JPN {background-image: url(/kpga/images/flag/JPN.png);}
/* 뉴질랜드 */ .flag.NZL {background-image: url(/kpga/images/flag/NZL.png);}
/* 남아프리카공화국 */ .flag.RSA {background-image: url(/kpga/images/flag/RSA.png);}
/* 필리핀 */ .flag.PHI {background-image: url(/kpga/images/flag/PHI.png);}
/* 스웨덴 */ .flag.SWE {background-image: url(/kpga/images/flag/SWE.png);}
/* 독일 */ .flag.GER {background-image: url(/kpga/images/flag/GER.png);}
/* 멕시코 */ .flag.MEX {background-image: url(/kpga/images/flag/USA.png);}
/* 잉글랜드 */ .flag.ENG {background-image: url(/kpga/images/flag/ENG.png);}
/* 홍콩 */ .flag.HKG {background-image: url(/kpga/images/flag/HKG.png);}
/* 홍콩 */ .flag.H.K {background-image: url(/kpga/images/flag/HKG.png);}
/* 파키스탄 */ .flag.PAK {background-image: url(/kpga/images/flag/PAK.png);}
/* 아일랜드 */ .flag.IRL {background-image: url(/kpga/images/flag/IRL.png);}
/* 아르헨티나 */ .flag.ARG {background-image: url(/kpga/images/flag/ARG.png);}
/* 에쿠아도르 */ .flag.ECU {background-image: url(/kpga/images/flag/ECU.png);}
/* 중국 */ .flag.CHN {background-image: url(/kpga/images/flag/CHN.png);}
/* 태국 */ .flag.THA {background-image: url(/kpga/images/flag/THA.png);}
/* 스코틀랜드 */ .flag.SCO {background-image: url(/kpga/images/flag/SCO.png);}
/* 웨일즈 */ .flag.WAL {background-image: url(/kpga/images/flag/WAL.png);}
/* 미얀마 */ .flag.MYN {background-image: url(/kpga/images/flag/MYN.png);}
/* 영국 */ .flag.UKR {background-image: url(/kpga/images/flag/UKR.png);}
/* 영국 */ .flag.UK {background-image: url(/kpga/images/flag/UKR.png);}
/* 스와질랜드 */ .flag.SWA {background-image: url(/kpga/images/flag/SWA.png);}
/* 괌 */ .flag.GUM {background-image: url(/kpga/images/flag/GUM.png);}
/* 인도네시아 */ .flag.INA {background-image: url(/kpga/images/flag/INA.png);}
/* 베네주엘라 */ .flag.VEN {background-image: url(/kpga/images/flag/VEN.png);}
/* 프랑스 */ .flag.FRA {background-image: url(/kpga/images/flag/FRA.png);}
/* 말레이시아 */ .flag.MAL {background-image: url(/kpga/images/flag/MAL.png);}
/* 스페인 */ .flag.SPN {background-image: url(/kpga/images/flag/SPN.png);}
/* 스페인 */ .flag.SPA {background-image: url(/kpga/images/flag/SPN.png);}
/* 벨기에 */ .flag.BEL {background-image: url(/kpga/images/flag/BEL.png);}
/* 핀란드 */ .flag.FIN {background-image: url(/kpga/images/flag/FIN.png);}
/* 스위스 */ .flag.SWI {background-image: url(/kpga/images/flag/SWI.png);}
/* 네덜란드 */ .flag.NED {background-image: url(/kpga/images/flag/NED.png);}
/* 북아일랜드 */ .flag.NIR {background-image: url(/kpga/images/flag/NIR.png);}
/* 덴마크 */ .flag.DEN {background-image: url(/kpga/images/flag/DEN.png);}
/* 칠레 */ .flag.CHI {background-image: url(/kpga/images/flag/CHI.png);}
/* 파라과이 */ .flag.PAR {background-image: url(/kpga/images/flag/PAR.png);}
/* 노르웨이 */ .flag.NOR {background-image: url(/kpga/images/flag/NOR.png);}
/* 오스트리아 */ .flag.AUT {background-image: url(/kpga/images/flag/AUT.png);}
/* 포르투갈 */ .flag.POR {background-image: url(/kpga/images/flag/POR.png);}
/* 방글라데시 */ .flag.BGD {background-image: url(/kpga/images/flag/BGD.png);}
/* 콜롬비아 */ .flag.COL {background-image: url(/kpga/images/flag/COL.png);}
/* 브라질 */ .flag.BRA {background-image: url(/kpga/images/flag/BRA.png);}
/* 세네갈 */ .flag.SEN {background-image: url(/kpga/images/flag/SEN.png);}
/* 스리랑카 */ .flag.SLK {background-image: url(/kpga/images/flag/SLK.png);}
/* 짐바브웨 */ .flag.ZIM {background-image: url(/kpga/images/flag/ZIM.png);}
/* 베트남 */ .flag.VIE {background-image: url(/kpga/images/flag/VIE.png);}
/* 우즈베키스탄 */ .flag.UZB {background-image: url(/kpga/images/flag/UZB.png);}
/* 우간다*/ /*.flag.UGA {background-position: 0 -3345px;}*/
/* 폴란드 */ .flag.POL {background-image: url(/kpga/images/flag/POL.png);}
/* 아이슬란드 */ .flag.ISL {background-image: url(/kpga/images/flag/ISL.png);}