/* 타이바 시스템 */
select, input[type="text"], input[type="date"], input[type="password"]{ width:100%; height:36px; border:1px solid #cacaca; box-sizing:border-box; }
table{ width:100%; border-collapse:collapse; border-top:1px solid #294d8f; border-bottom:1px solid #294d8f; }
button{ cursor:pointer; }
textarea{ resize:none; border:1px solid #d3d3d3; width:100%; }
.taybarExel{ position:relative; background:#f5f5f5; padding:60px 40px 35px 40px; margin-top:65px; }
.taybarExel h3{ position:absolute; left:0; top:-25px; width:auto; line-height:52px; font-size:16px; background:#294d8f; padding:0 40px; color:#fff; border-radius:100px; box-sizing:border-box }
.Exel_01{ display:grid; justify-content: space-between; align-items:center; grid-template-columns:1fr 1fr 1fr .3fr; grid-column-gap:10px; }
.Exel_01 .exel_div{ display:flex; align-items:center; gap:10px; }
.Exel_01 .exel_div span:first-child{ width:calc(100% - 210px); text-align:right; }
.Exel_01 .exel_div .exel_sl, .Exel_01 .exel_div .exel{ width:100%; }
.Exel_01 .exel_div input{ border:1px solid #cacaca; padding:5px 10px; background:#fff; }
.exel_div.btn { width:100px; margin:25px auto 0; }
.btn .blueBtn{ width:100%; height:36px; border:none; background:#317be2; color:#fff; }
.taybarDetail{ margin-top:40px; }
.taybarDetail th{ background:#e0ebfb; border-bottom:1px solid #294d8f; }
.taybarDetail th, .taybarDetail td{ padding:10px; }
.taybarDetail td{ border-top:1px solid #d7d7d7; text-align:center; }
.btn button{ background:#fff; border-radius:5px; }
.btn .detailBtn{ border:1px solid #317be2; color:#317be2; }
.btn .edit{ border:1px solid #294d8f; color:#294d8f; }

/* 타이바 시스템 write */
.taybarWrite table{ border-top:none; border-bottom:none; }
.taybarWrite th, .taybarWrite td{ padding:10px; border-bottom:1px solid #d7d7d7; }
.taybarWrite .timeDate{ display:flex; justify-content:space-between; align-items:center; }
.taybarWrite .timeDate .date{ width:45%; }
.taybarWrite .taybarBtn{ text-align:center; margin-top:20px; }
.taybarWrite .taybarBtn .saveBtn{ padding:10px 25px; border:none; background:#317be2; color:#fff; }

/* kpga 공식 기록 */
.playerTb ul{ display:flex; gap:10px; }
.playerTb ul li{ width:auto; height:16px; }

/* KPGA 운영 시스템 */
.queryWrap{ margin-top:30px; background:#f5f5f5; padding:40px; box-sizing:border-box; }
.QueryTop .query_div{ display:flex; gap:20px; margin-top:15px; }
.QueryTop .query_div .exel_sl{ width:150px; }
.queryTxt{ width:93%; }

/* 로그인 */
#login{ position:absolute; width:100%; height:100%; background:#317be2; }
#login .contain{ display:flex; align-items:center; justify-content:center; height:100%; }
.login{ display:flex; justify-content:center; flex-direction:column; align-items:center; width:416px; height:512px; background:#fff; border-radius:5px; margin:0 auto; padding:20px 40px; box-sizing:border-box; box-shadow:3px 3px 6px rgba(0,0,0,.3); }
.loginTop { text-align:center; }
.loginTop h2{ font-size:22px; text-transform:uppercase; }
.loginTop h2{ font-size:30px; }
.lognCont{ margin-top:40px; width:100%; }
.lognCont div + div{ margin-top:10px; }
.lognCont div input{ padding:5px 10px; transition:.3s; }
.lognCont div input:hover{ border:1px solid #000; }
.loginBtn{ margin-top:40px; }
.loginBtn button{ background:#317be2; border:1px solid #317be2; color:#fff; padding:10px 15px; }