<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{thymeleaf/layout/layout}">
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/timepar/excel/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/timepar/excel/sheetjs-style.xlsx.min.js"></script>
    <script type="text/javascript" src="/timepar/excel/FileSaver.min.js"></script>
    <script type="text/javascript" src="/timepar/excel/excel.js"></script>

    <script type="text/javascript">
        let app = '';
        $(document).ready(function () {
            app = new Vue({
                el: "#app",
                data: function () {
                    return {
                        gameInfo : {},
                        timeSetInfo : {
                            isShow : true,
                            outTime : '',
                            inTime : '',
                            totalTime : '',
                            sunrise : '',
                            sunset : '',
                            useYn: 'N',
                        },
                        timeParInfo : {},
                        excel : {
                            gameId : '',
                            roundNo: '1',
                            data : null,
                        },
                    }
                },
                created: function () {
                    const self = this;
                    let resp =  doAjax('/api/game.tf', {gameId : '[[${parameter.gameId}]]',tourId : '[[${parameter.tourId}]]' });
                    self.gameInfo = resp.data[0]
                    self.gameInfo.roundNo = '1';
                    self.doBase().getTimeSetInfo();
                },
                methods: {
                    getGameDate : function (info) {
                        if(!info.gameOpenDate) return '';
                        return moment(info.gameOpenDate).format('MM.DD') + '~' +  moment(info.gameOpenDate).format('DD');
                    },
                    doBase : function () {
                        const self = this;
                        return {
                            getTimeSetInfo :function () {
                                let resp = doAjax('/timepar/game.tf', { gameId : self.gameInfo.gameId, roundNo : self.gameInfo.roundNo});
                                if(resp.data){
                                    self.timeSetInfo = resp.data;
                                } else{
                                    self.timeSetInfo = {
                                        isShow : true,
                                        outTime : '',
                                        inTime : '',
                                        totalTime : '',
                                        sunrise : '',
                                        sunset : '',
                                        useYn: 'N',
                                    }
                                }
                                self.timeSetInfo['isShow'] = true;
                            },
                            save : function () {
                                let resp = doAjax('/timepar/game/save.tf', $.extend(self.gameInfo, self.timeSetInfo) );
                                self.doBase().getTimeSetInfo();
                                alert('처리 되었습니다.');
                            },
                            groupMarker : function(){
                                let resp = goSave("/adm/sub/kpgagroupmarker", $.extend({}, self.gameInfo));
                                if(resp != "error"){
                                    alert('정상 처리 되었습니다.');
                                    self.doBase().getList();
                                }
                            },
                            course : function(){
                                let resp = goSave("/adm/sub/kpgacourse",$.extend({}, self.gameInfo));
                                if(resp != "error"){
                                    alert('정상 처리 되었습니다.');
                                    self.doBase().getList();
                                }
                            },
                            accuHit: function () {
                                let resp = doAjax("/timepar/accusum.tf",$.extend({}, self.gameInfo));
                                if(resp != "error"){
                                    alert('정상 처리 되었습니다.');
                                }
                            }
                        }
                    },
                    doExcel : function () {
                        const self = this;
                        return {
                            readBefore : function (data){
                                self.excel.data = data;
                            },
                            readTimePar : function (data) {
                                self.timeParInfo = data;
                            },
                            saveBefore : function () {
                                self.excel.roundNo = self.gameInfo.roundNo;
                                self.excel.gameId = self.gameInfo.gameId;
                                let resp = doAjax('/timepar/excel/save.tf', self.excel);
                                alert('처리 되었습니다.');
                            },
                            saveTimePar : function () {
                                self.timeParInfo.gameId = self.gameInfo.gameId;
                                self.gameInfo.roundNo = self.timeParInfo.roundNo;
                                let resp = doAjax('/timepar/excel/kpga/save.tf', self.timeParInfo);
                                self.doBase().getTimeSetInfo();
                            },
                        }
                    }
                }
            });
        });
    </script>
</th:block>
<div id="app" layout:fragment="content" >
    <div>
        <h2>대회정보</h2>
        <div class="taybarWrite">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="40%">
                    <col width="10%">
                    <col width="40%">
                </colgroup>
                <tbody>
                    <tr>
                        <th>대회명</th>
                        <td colspan="3"><span>{{ gameInfo.gameName }}</span></td>
                    </tr>
                    <tr>
                        <th>대회코드</th>
                        <td><span>{{ gameInfo.gameId }}</span></td>
                        <th>연도</th>
                        <td><span>{{ gameInfo.apcYear }}</span></td>
                    </tr>
                    <tr>
                        <th>투어</th>
                        <td> <span>코리안투어</span></td>
                        <th>기간</th>
                        <td class="timeDate"> <span>{{ getGameDate(gameInfo) }}</span> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt40 taybarCont">
        <h2>타이파 정보
            <div class="taybarInfo">
                <select v-model="gameInfo.roundNo" @change="doBase().getTimeSetInfo()">
                    <option value="">미선택</option>
                    <option v-for="roundNo in 4" :value="roundNo">{{ roundNo }}R</option>
                </select>
                <div class="btn taybarBtn">
                    <button class="saveBtn" @click="doBase().save()">저장</button>
                </div>
            </div>
        </h2>
        <div v-if="timeSetInfo.isShow" class="taybarWrite">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <tbody>
                <tr>
                    <th>총</th>
                    <td> <input type="text" v-model="timeSetInfo.totalTime"> </td>
                    <th>OUT코스</th>
                    <td> <input type="text" v-model="timeSetInfo.outTime"> </td>
                    <th>IN코스</th>
                    <td> <input type="text" v-model="timeSetInfo.inTime"> </td>
                </tr>
                <tr>
                    <th>일출</th>
                    <td> <input type="text" v-model="timeSetInfo.sunrise"> </td>
                    <th>일몰</th>
                    <td> <input type="text" v-model="timeSetInfo.sunset"> </td>
                    <th>사용여부</th>
                    <td>
                        <select v-model="timeSetInfo.useYn">
                            <option value="Y">사용</option>
                            <option value="N">미사용</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt40">
        <h2>엑셀 업로드</h2>
        <div class="taybarWrite">
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="60%">
                    <col width="20%">
                </colgroup>
                <tbody>
                    <tr>
                        <th>KPGA</th>
                        <td> <input id="excelFileTimePar" type="file" onchange="excel.readTimePar(app.doExcel().readTimePar)"> </td>
                        <td> <button class="saveBtn" @click="doExcel().saveTimePar()">저장</button> </td>
                    </tr>
                    <tr>
                        <th>기존</th>
                        <td> <input class="form-control" id="excelFile" type="file" onchange="excel.read(app.doExcel().readBefore)"> </td>
                        <td> <button class="saveBtn" @click="doExcel().saveBefore()">저장</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt40 taybarCont">
        <h2> 조마커
            <div class="taybarInfo">
                <select v-model="gameInfo.roundNo" @change="doBase().getTimeSetInfo()">
                    <option value="">미선택</option>
                    <option v-for="roundNo in 4" :value="roundNo">{{ roundNo }}R</option>
                </select>
            </div>
        </h2>

        <div v-if="timeSetInfo.isShow" class="taybarWrite">
            <table>
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="20%">
                </colgroup>
                <tbody>
                <tr>
                    <th>총</th>
                    <td> <button class="saveBtn" @click="doBase().groupMarker()">조마커</button> </td>
                    <th> <button v-if="gameInfo.roundNo > 1" class="saveBtn" @click="doBase().course()">전라운드티박스</button> </th>
                    <td> <button v-if="gameInfo.roundNo > 1" class="saveBtn" @click="doBase().accuHit()">전라운드누적</button>  </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</html>